@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ----- Criaturo CSS ----- */


body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    background: url(../images/bg-conference.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a, p {
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
}
.clear{
    clear: both;
}

a,
a:hover{
    color: inherit;
    text-decoration: none;
    outline: 0 !important;
}

.col-nopadding {
    padding: 0;
}


#conference-wrap {
    
}

#waiting-message {
    padding: 10px 20px 25px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 50%;
    /*border-radius: 15px;*/
}

#waiting-message h3 {
    text-transform: uppercase;
    font-size: 21px;
}

#waiting-message p {
    color: #666;
}

#conference-wrap,
#conference-wrap .container {
    height: 100%;
    margin-top: 30px;
}

.conference-content{
    position: relative;
    height: 100%;
}

div#status-message {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 10%;
    right: 0;
    padding: 15px 20px 15px;
    /*border-radius: 15px;*/
}

div#status-message p {
    margin-bottom: 0;
    font-size: 16px;
}

#conference-player {
    /*border-radius: 15px;*/
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
}

#conference-player img.imgfull {
    width: 100%;
    z-index: 1;
}

#conference-controllers {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.cc-logo {
    position: absolute;
    left: 20px;
    opacity: 0.5;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.cc-logo:hover {
    opacity: 1;
}

.cc-functions {
    position: absolute;
    right: 20px;
}

.cc-functions .ccfunctions-btn {
    display: block;
    margin-bottom: 5px;
    width: 44px;
    height: 44px;
    opacity: 0.5;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.cc-functions .ccfunctions-btn:hover {
    opacity: 1;
}

#btn-chat {
    background: url(../images/icon-chat.png) no-repeat;
    background-position: center top;
}

#btn-chat.active {
    background: url(../images/icon-chat-active.png) no-repeat;
    background-position: center top;
    opacity: 1;
}

#btn-notes {
    background: url(../images/icon-notes.png) no-repeat;
    background-position: center top;
}

#btn-notes.active {
    background: url(../images/icon-notes-active.png) no-repeat;
    background-position: center top;
    opacity: 1;
}

.cc-actions {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.cc-icons {
    display: inline-block;
}

.cc-mic.cc-icons .fa-circle {
    color: #00c690;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.cc-mic.cc-icons:hover .fa-circle {
    color: #00ffb9;
}

.cc-call.cc-icons .fa-circle {
    color: red;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.cc-call.cc-icons:hover .fa-circle {
    color: #ff5b5b;
}

/* ----- SM ----- */
@media (min-width: 768px){
    .cc-miniscreen {
        width: 245px;
        height: 145px;
        overflow: hidden;
        /*border-radius: 15px;*/
        position: absolute;
        right: 20px;
        bottom: 100px;
    }
}

/* ----- XS ----- */
@media screen and (max-width: 767px) {
    .cc-miniscreen {
        width: 140px;
        height: auto;
        overflow: hidden;
        /*border-radius: 15px;*/
        position: absolute;
        right: 20px;
        bottom: 100px;
    }
}

/* ----- SM ----- */
@media (min-width: 768px) and (max-width: 1199px){
    .cc-miniscreen {
        width: 100px;
        height: auto;
        overflow: hidden;
        /*border-radius: 15px;*/
        position: absolute;
        right: 20px;
        bottom: 100px;
    }
}



.cc-fullscreen {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.cc-fullscreen {
    opacity: 0.5;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.cc-fullscreen:hover {
    opacity: 0.9;
}

#conference-notes {
    display: none;
    position: absolute;
    width: 25%;
    z-index: 100;
    right: 0;
    background: #fff;
    height: 100%;
}

#conference-notes-open {
    display: none;
    position: absolute;
    width: 25%;
    z-index: 100;
    right: 0;
    background: #fff;
    height: 100%;
}

#conference-chat {
    display: none;
    position: absolute;
    width: 25%;
    z-index: 100;
    right: 0;
    background: #fff;
    height: 100%;
}

.cfheader {
    background: #2a9fe2;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
}

.cftitle {
    float: left;
}

.cfclosebtn {
    float: right;
}

.cfeditor {
    background: #eee;
    border-bottom: 1px solid #ccc;
    display: block;
    width: 100%;
}

.cfeditor ul {
    padding: 0;
    list-style: none;
    float: left;
    margin-bottom: 0;
}

.cfeditor li{
    display: inline-block;
    padding: 5px 10px;
    border-right: 1px solid #ccc;
}

.cf-salvar {
    float: right;
    padding: 5px 10px;
    color: #009646;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
}



/*CHAT*/

ul.mensagens-chat {
    padding: 15px;
    height: 75%;
    overflow-y: scroll;
    list-style: none;
}

ul.mensagens-chat li{
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cfchat {
    height: 100%;
}

#messagefield-wrap {
    background: #f4f4f4;
    width: 100%;
    height: 26%;
    border: solid 1px #ccc;
    border-top: 0;
    border-left: 0;
    /*border-radius: 0 0 10px 0;*/
    padding: 2%;
}

#messagefield-wrap input[type="text"] {
    width: 100%;
    height: 100%;
    min-height: 90px;
    /*border-radius: 5px 0 0 5px;*/
    border: 1px solid #ccc;
}

.chat-wrap {
    height: 100%;
}

#messagefield-wrap .btn-sendmessage {
    width: 100%;
    margin: 0;
    /*border-radius: 0 5px 5px 0;*/
    background-color: #40a9ce;
    border: #1d99c4;
    color: #fff;
}
#messagefield-wrap .btn-sendmessage:hover {
    background-color: #1384ab;
    border: #1d99c4;
    color: #fff;
}

.mensagem-time {
    color: #999;
    margin: 0 20px;
    font-size: 12px;
}

.mensagem-text-left {
    width: 100%;
    height: auto;
    background: #defcf4;
    border: solid 1px #defcf4;
    /*border-radius: 10px;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
    color: #999;
    font-size: 13px;
    padding: 10px;
    margin-top: 12px;
}

.mensagem-text-left::before {
    position: absolute;
    top: 27px;
    left: 9px;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #defcf4 !important;
    display: inline-block;
}

.mensagem-text-left::after {
    position: absolute;
    top: 28px;
    left: 10px;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #defcf4;
    display: inline-block;
}

.mensagem-text-right {
    width: 100%;
    height: auto;
    background: #dee7fc;
    border: solid 1px #dee7fc;
    /*border-radius: 10px;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
    color: #999;
    font-size: 13px;
    padding: 10px;
    margin-top: 12px;
}

.mensagem-text-right::before {
    position: absolute;
    top: 27px;
    right: 9px;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #dee7fc !important;
    display: inline-block;
}

.mensagem-text-right::after {
    position: absolute;
    top: 28px;
    right: 10px;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #dee7fc;
    display: inline-block;
}

.chat-right {
    text-align: right;
}

.cfclosebtn,
.cfcancelbtn {
    display: block;
    cursor: pointer;
}

/* ----- LG ----- */
@media (min-width: 1200px) {
    #imgconference {
        height: 733px;
        max-width: 100%;
        background: #000;
    }

    #imgconference.active {
        height: 733px;
        max-width: 75%;
        background: #000;
        padding-top: 90px;
    }
}

/* ----- MD ----- */
@media (min-width: 992px) and (max-width: 1199px) {
    #imgconference {
        height: 605px;
        max-width: 100%;
        background: #000;
    }

    #imgconference.active {
        height: 605px;
        max-width: 75%;
        background: #000;
        padding-top: 70px;
    }
}

/* ----- SM ----- */
@media (min-width: 768px) and (max-width: 991px){
}

/* ----- XS ----- */
@media screen and (max-width: 767px) {
}

/* ----- SM ----- */
@media (min-width: 768px) and (max-width: 1199px){
}
\



/*NOTES*/
#notes-list {
    list-style: none;
    padding: 0;
}

div.notes-item {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    display: block;
    cursor: pointer;
}

div.notes-item p {
    margin-bottom: 0;
}

p.notes-date {
    color: #999;
    padding-top: 1px;
    font-size: 12px;
}

