@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ----- Criaturo CSS ----- */

.div-orientacao {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}
.cursor {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h3.title-titlecase {
    text-transform: none !important;
}

a, p {
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
}
.clear{
    clear: both;
}

a,
a:hover{
    color: inherit;
    text-decoration: none;
    outline: 0 !important;
}

.col-nopadding {
    padding: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


/* ------ Menu ----- */

.navbar.navbar-default.navbar-fixed-top {
    background: #fff;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #232973;
    cursor:pointer;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #232973;
    background-color: transparent !important;
}

a.menu-destaque {
    color: #232973 !important;
}


@media(min-width:768px) {
    .navbar-default {
        padding: 20px 0;
        border: 0;
        -webkit-transition: padding .3s;-moz-transition: padding .3s;transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
        margin-top: 0;
        padding-top: 10px;
    }

    img.header-logo {
        height: 37px;
        width: auto;
        -webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;
    }

    .navbar-default.navbar-shrink img.header-logo {
        height: 30px;
        width: auto;
        padding-top: 0;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


@media screen and (max-width: 767px) {
    .navbar-header.page-scroll {
        padding: 10px 0;
    }

    img.header-logo {
        height: 30px;
        width: auto;
        -webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;
    }
}

/* ---------- HOME ---------- */

.section-title {
    margin-bottom: 30px;
}

.section-title h1 {
    text-transform: uppercase;
    color: #232973;
    font-size: 30px;
    font-weight: 700;
}

.section-title p.subtitle {
    color: #666;
    font-size: 16px;
    font-weight: 300;
}

.section-title-white {
    margin-bottom: 30px;
}

.section-title-white h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.section-title-white p.subtitle {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.btn {
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 16px;
    /*border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; */
}

.btn-gradient {
    color: #fff;
    background: #232973;
    background-position: center -10px;
    -webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;
}

.btn-gradient:hover {
    color: #fff;
    background: #3a45c4;
    background-position: center -90px;
}

.btn-blue {
    color: #fff;
    background: #232973;
    background-position: center -10px;
    -webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;
}

.btn-blue:hover {
    color: #fff;
    background: #3a45c4;
    background-position: center -90px;
}

.intro-section {
    /*padding-top: 150px;*/
    text-align: center;
    background: #fff;
}

.home-section {
    padding: 60px 0 40px 0;
    text-align: center;
    background: #fff;
}

/*Banner Home*/

@media (min-width: 768px) {
    #bannerhome {
        height: 650px;
        overflow: hidden;
    }

    #bannerhome img {
        width: 100%;
    }

    .banner-content {
        margin-top: 130px;      
    }

    .carousel-caption {
        text-shadow: none !important;
    }

    .banner-content h1,
    .carousel-caption h1{
        color: #fff;
        text-transform: uppercase;
        font-size: 50px;   
    }

    .banner-content p,
    .carousel-caption p{
        color: #fff;
        font-size: 24px; 
    }
}

@media screen and (max-width: 767px) {
    #bannerhome {
        margin-top: 65px;
    }

    #bannerhome img {
        width: 100%;
    }

    .banner-content {
        margin-top: 130px;      
    }

    .carousel-caption {
        text-shadow: none !important;
    }

    .banner-content h1,
    .carousel-caption h1{
        color: #fff;
        text-transform: uppercase;
        font-size: 32px;   
    }

    .banner-content p,
    .carousel-caption p{
        color: #fff;
        font-size: 18px; 
    }
}






@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
        top: 30%;
    }
}

/* Como funciona*/

@media(min-width:768px) {
    #comofunciona {
        background: #eee;
        background-size: cover;
        background-position: center -270px;
        height: 800px;
    }
}
@media screen and (max-width: 767px) {
    #comofunciona {
        background: #eee;
        background-size: cover !important;
        background-position: center -150px;
    }
}


p.notes {
    color: #999;
    font-size: 12px;
    margin-top: 15px;
}

.comofunciona-item {
    /*background: url(../images/opacity-blue.png) repeat;*/
    /*border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;*/ 
    padding: 15px;
    margin-bottom: 15px;
    height: 100%;
    max-height: 270px;
}

#comofunciona h2{
    font-size: 16px;
    color: #232973;
    text-transform: uppercase;
    font-weight: 700;
}

#comofunciona p{
    font-size: 16px;
    color: #7d7d7d;
}

#video-home {
    margin-top: 15px;
    display: block;
}

/* Profissionais */

#owl-profissionais {
    margin: 30px 0;
}
    
#owl-profissionais .profissional{
    opacity: 0.6;
    -webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;
}

#owl-profissionais .profissional:hover{
    opacity: 1;
}

#owl-profissionais h3 {
    font-size: 16px;
    color: #232973;
    text-transform: uppercase;
    font-weight: 700;
    white-space:normal;
    max-width:90%;
    min-height:35px;
}

#owl-profissionais p {
    color: #7d7d7d;
}

#owl-profissionais ul {
    padding: 0;VANTAGENS LOGDIALOGVANTAGENS LOGDIALOG
    list-style: none;
}
    
#owl-profissionais li {
    display: inline-block;
}

.btn.prev {
    width: 33px;
    height: 33px;
    cursor: pointer;
    background: url(../images/navigation-sprite.png) no-repeat;
    background-position: left top;
    padding: 0;
}

/*.btn.prev:hover {
    width: 33px;
    height: 33px;
    cursor: pointer;
    background: url(../images/navigation-sprite.png) no-repeat;
    background-position: left -32px;
    padding: 0;
}*/

.btn.next {
    width: 33px;
    height: 33px;
    cursor: pointer;
    background: url(../images/navigation-sprite.png) no-repeat;
    background-position: right top;
    padding: 0;
}

/*.btn.next:hover {
    width: 33px;
    height: 33px;
    cursor: pointer;
    background: url(../images/navigation-sprite.png) no-repeat;
    background-position: right -32px;
    padding: 0;
}*/

/*PROFISSIONAIS: Modal*/
#myModal{
    /*border-radius: 6px;*/

}

.modal-header{
    background-color: #3da4ce;
    padding: none;
    
}

.modal-title{
    color: white;
    margin-left: 2%;
    text-transform: 13px;
}

.modal-body img{
    float: left;
    margin-right: 20px;
}

.modal-body p h4{
    display: block;
    float: left;
    text-transform: bold none;
    padding-top: 23%;
}

.pt-top{

        border-bottom: solid 1px #e6ebed;
        padding-bottom: 32%;
}
.img-top{
    /*padding-bottom: 14%;*/
    padding-top: 9px;
    margin-top: 0;
    float: left;
    width: 19%;
}

.txt-top{
    padding-top: 30px;
    float: left;
    width: 60%;
    margin-left: 10%;
}
.txt-center {
    text-align: center;
}
.modal-body {
    margin: 0 3% 3% 3%;
}

.modal-body p{
    margin-top: 2%;
}

.pt-top h4{
    color: #3da4ce;
    text-transform:uppercase;
}
    
.pt-one h4{
    text-transform:uppercase;
}

.pt-one{
    border-bottom:solid 1px #e6ebed;
    padding-bottom: 2%;
    padding-top: 2%;
}

.pt-two h4{
    text-transform:uppercase;
}
.pt-two{
    border-bottom:solid 1px #e6ebed;
    padding-bottom: 2%;
    padding-top: 2%;

}

.pt-three h4{
    text-transform:uppercase;
}
.pt-three{
    border-bottom:solid 1px #e6ebed;
    padding-bottom: 2%;
    padding-top: 2%;
}

.pt-four h4{
    text-transform:uppercase;

}
 .pt-four{
    padding-bottom: 4%;
    padding-top: 2%;
    background-position: left center;
}

.btns-modal{
    text-align: center;
} 

#bunt-space{
    margin-right: 1%;
}

/* MODAL - AGENDAR CONSULTA NL*/

#agendarConsulta{
    text-align: center;
}

.btn-nl{
    margin-top: 40px;
    margin-bottom: 30px;
}

#nl-txt{
    text-align: center;    
}

#nl-blue{
    color: #41acd0;
}

/* Sobre */

@media (min-width: 768px){
    #sobre {
        background: url(../images/sobre-imagebg.jpg) repeat-x;
        background-size: auto 100%;
    }

    #sobre-inside {
        background: url(../images/sobre-image.jpg) no-repeat;
        background-position: left center;
        background-size: auto 100%;
    }

    .content-left {
        text-align: left;
        padding: 55px 0 65px 0;
    }
}

@media screen and (max-width: 767px) {
    #sobre {
        background: #f7f7f7;
        background-size: auto 100%;
    }

    #sobre-inside {
        background: url(../images/sobre-image.jpg) no-repeat;
        background-position: center top;
        background-size: 100% auto;
        /* margin-top: 300px; */
    }

    .content-left {
        text-align: left;
        padding: 300px 0 65px 0;
    }
}

#sobre h1{
    text-transform: uppercase;
    color: #232973;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

#sobre p {
    color: #666;
    font-size: 16px;
    font-weight: 300;
    /*padding-top: 2%;*/
    /*padding-bottom: 15px;*/
}

/* Vantagens */

#vantagens {
    background: #ebebeb;
}

#owl-vantagens {
    margin-top: 20px;
}

#owl-vantagens .vantagem-item {
    background: #fff;
    margin: 0 10px;
    /*border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;*/ 
}

#owl-vantagens .vantagem-item .vantagem-content{
    padding: 0px 25px 15px 25px;
}

#owl-vantagens .vantagem-item .vantagem-content h3{
    font-size: 18px;
    color: #232973;
    text-transform: uppercase;
    font-weight: lighter;
    min-height: 40px;
}

#owl-vantagens p {
    color: #7d7d7d;
    min-height: 40px;
}

#owl-vantagens .vantagem-item img{
    width: 100%; 
}

#btn-h{
    width: 238px;
}

.txt-rodape{
    text-transform: uppercase;
    padding-top: 1%;
    color: #7d7d7d;
    font-size: 17px;    
}

/*Vantagens:Modal*/

#modal-v{
    /*border-radius: 6px 6px 6px 6px;*/
}
.modal-header{
    background-color: #3da4ce;
    padding: none;
    border-bottom:none;
}
.vantagem-image {
    min-height:200px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50%;
}
.vantagem-item a{
    cursor: pointer;
    text-decoration:none
}

.modal-header a{
    text-decoration: none;
}

.modal-body-v{
    margin: 40px 40px 50px;
}

.modal-body-v p{
    font-size: 13px;
    padding-bottom: 15px;
}

.modal-body-v a {
    color: #3da4ce;
}

.txtp-one {
    padding: 4% 0 4% 0;
}

.txtp-two {
    margin-bottom: 9%;
}

.modal-body-v h4{
    margin-top: 3%;
    padding-bottom: 2%;
    font-size: 14px;
    font-weight: bold;   
}
.cx-a{
    text-transform: uppercase;
}

.img-v img{
    width: 100%;
    height: 25%;
}

/* Contato */

#contato {
    background: url(../images/contato-bg.jpg) no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    #contato-form {
        background: #fff;
        /*border-radius: 10px; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px; */
        padding: 40px;
        /*padding: 70px 180px;*/
    }

    #contato-form input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 25px;
        padding-bottom: 15px;
    }

    #contato-form input:focus {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ccc;
        /*margin-bottom: 40px;*/
        padding-bottom: 15px;
    }

    #contato-form textarea {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 0;
    }
}

/*Modal-login*/
        
.modal-header-login img{
    width: 100px;
    height: auto;
}

.modal-dialog.modal-login {
    width: 490px;
}

.modal-login .modal-content {
    /*border-radius: 10px;*/
}

.modal-header-login{
    border-bottom: solid 1px #e6ebed;
    text-align: center;
    padding: 20px;
}
.btn {
    background-color: #232973;
    color: white;
}
.btn:hover {
    color:#fff;
    background-color:#1d99c4;
}
.checkbox button {
    margin-left: 37%;
}

.modal-body-login p{
    text-align: center;
    padding-top: 20px;
    color: #666;
    font-size: 18px;
}

#loginform .form-group {
    /*border-radius: 10px;*/
    width: 70%;
    margin: 20px auto;
}

#loginform .form-group input{
    padding: 20px 15px;
    /*border-radius: 10px;*/
}

.modal-footer-login {
    background: #232973;
    padding: 15px;
    /*border-radius: 0 0 10px 10px;*/
    text-align: center;
    margin-top: 30px;
}

.modal-footer-login p{
    padding: 0;
    margin: 0;
    color: #fff;
}

.modal-login-bottom {
    text-align: center;
    color: #fff;
    padding: 10px;
}

@media screen and (max-width: 767px) {
    #contato-form {
        background: #fff;
        /*border-radius: 10px; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px; */
        padding: 50px 20px;
    }

    #contato-form input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
        padding-bottom: 15px;
    }

    #contato-form input:focus {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
        padding-bottom: 15px;
    }

    #contato-form textarea {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 40px;
        padding-bottom: 0;
    }
}

#footer-wrap-home {
    margin-top: -110px;
}

#footer-wrap {
    margin-top:;
}
     
#footer-wrap-home #footer-main {
    background: #e9e9e9;
    padding-top: 100px;
    color: #757575;
    padding-bottom: 50px;
}

#footer-wrap #footer-main {
    background: #e9e9e9;
    padding-top: 50px;
    color: #757575;
    padding-bottom: 50px;
}

#footer-main h4 {
    text-transform: uppercase;
    color: #232973;
    font-size: 16px;
    padding-bottom: 10px;
}

#footer-main ul {
    list-style: none;
    padding: 0;
}

#footer-main li a {
color: #757575;
                }

#footer-bottom ul.social-btn {
    float: right;
}

#footer-bottom ul.social-btn li{
    display: inline-block;
}

#footer-bottom ul.social-btn li img{
    height: 35px;
    width: auto;
}

#footer-main input {
    background: transparent;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#footer-bottom {
    background: #00063e;
    padding: 20px 0;
    }

#footer-bottom p {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    padding-top: 8px;
}

@media screen and (max-width: 990px) {
    #footer-main {
        text-align: center;
    }

    #footer-main .col-md-3 img{
        width: 100px;
        margin: 0 auto;
    }
}


.footer-payment {
    text-align: center;
    background: #fff;
    padding: 10px;
}

.footer-payment img {
    margin: 0 auto;
    display: block;
}



/* INTERNAS */

.pagination-wrap {
    text-align: center;
    padding-bottom: 0px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: #333;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50%;
    border: 0;
    margin: 0 1px;
}

ul.pagination li a.active {
    background-color: #40a9ce;
    color: white;
    border-radius: 50%;
}


.pages-title{
    background-color: #232973;
    /*border-radius: 10px 10px 0 0;*/
    padding: 10px 35px;
    color: white;
}

.pages-content{
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 35px;
    margin-bottom: 30px;
}

.pages-content h3{
    text-transform: none;
    margin-top: 35px;
    margin-bottom: 15px;
    color: #232973;
}

.pages-content p, 
.pages-content li {
    color: #666;
}

.filter-content{
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}



/* PERGUNTA ORIENTAÃ‡ÃƒO*/

.question-title h1{
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #9a938c;
}

#question-banner{
    background: url(../images/background.jpg);
    background-size: cover;

}
.question-content{
    height: 240px;
    color: white;
    text-transform: uppercase;
    text-align: right;
}

.question-text{
    background: url(../images/q2.png);
    background-size: cover;
    height: 240px
}

.question-text h2{
    font-size: 45px;
    padding: 40px;
    margin-top: 0;
}

.answer-content {
    height: 240px;
    font-size: 30px;
    width: 100%;
    color: white;
    text-align: center;
    border-left:  solid 1px white;
    display: block;
}

.answer-item {
    background-color: #3ea4ce;
    opacity: 0.8;
    padding-top: 35px;
    border-bottom: solid 1px white;
    height: 120px;
    text-transform: uppercase;
}

.answer-item:hover {
    background-color: #3ea4ce;
    opacity: 1;
}

.answer-item a{
    text-decoration: none;
}

.question-content{
    margin: 45px 0 80px 0;
}
  

/*PAG: Resultado*/

.results-wrap{
    width: 100%;
    height: auto;
    background-color: white;
    /*border-radius: 10px;*/
}

.results-title{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.results-title h2{
    text-transform: uppercase;
    color: #40a9d0;
}

.results-title p{
    color: #999;
}

.results-item {
    padding: 30px 60px 0 60px;
}

.results-item h4{
    background: url(../images/results-arrow.png) no-repeat;
    padding: 0 30px;
    min-height: 21px;
    color: #2a7cd0;
    text-transform: uppercase;
}

.results-item p{
    margin-bottom: 20px;
    color: #555555;
    padding: 0 30px;
    padding-bottom: 40px;
    border-bottom: solid 1px #cccccc;
}

.results-btn{
    text-align: center;
    padding-top: 30px;
}

#btn-results{
    text-transform: uppercase;
    padding: 10px 45px;
     white-space: normal;
}

.results-text{
    text-align: center;
    color: #787878;
    padding-top: 20px;
    padding-bottom: 30px;
}   


/* VER TODOS OS PROFISSIONAIS */

.body-container {
    padding: 20px;
    margin-top: -20px;
}

.profissionais-item:first-child{
    margin-top: 0;
    padding-top: 0;
}

.profissionais-item{
    margin: 20px 0;
    clear: both;
    border-bottom: solid 1px #e6ebed;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.profissionais-content h3{
    color: #3ca0ce;
    padding-bottom: 10px;
    margin: 0;
}

.profissionais-actions {
    text-align: right;
}

.profissionais-actions button{
    background-color: #fafafa;
    border: solid 1px #d1cfcf;
    color: #666;
}

/* filtro */

.filter-wrap h5 {
    text-transform: uppercase;
    color: #666;
    margin-top: 0;
    padding-bottom: 10px;
}

.filter-wrap h6 {
    color: #666;
    margin-top: 0;
    padding-bottom: 0px;
    font-size: 14px;
}

.filter-input{
    background-color: #f8f8f9;
    width: 100%;
    /*border-radius: 10px;*/
    padding: 5px;
    border: solid 1px #ccc;
}

.search-button {
    text-align: center;
    margin-top: 10px;
}

#filter-name {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.gender-filter {
    display: block;
    margin-bottom: 5px;
}

.gender-radio {
    display: inline-block;
    margin-right: 5px;
    /*border-radius: 20px;*/
    border: solid 1px #ccc;
    padding: 3px 10px;
    font-size: 13px;
    color: #666;
}


.price-selector {
    border: solid 1px #ccc;
    /*border-radius: 20px;*/
    padding: 10px;
}

    .noUi-target {
        border-radius: 20px !important;
        height: 10px !important;
    }

    .noUi-horizontal .noUi-handle {
        width: 20px !important;
        height: 20px !important;
        left: -17px;
        top: -6px;
    }

    #connect .noUi-origin {
        right: auto;
        width: 0;
    }

    #connect .connect {
        position: absolute;
        top: 0;
        bottom: 0;
        background: #53acd1;
        box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
    }

    .noUi-handle:after, .noUi-handle:before {
        display: none !important;
    }

    #connect.noUi-state-tap .connect {
        -webkit-transition: left 300ms, right 300ms;
        transition: left 300ms, right 300ms;
    }

.freecontact-filter{
    margin-top: 15px;
    font-size: 12px;
    padding-bottom: 20px;
}

.expertise-filter {
    padding-bottom: 15px;
}

/* ---------------- MODALS ---------------- */

.modal-dialog {
}

.modal-content {
    /*border-radius: 10px;*/
}
.modal-video {
    width:60%;
    margin:auto;
    top:20vh;
    position:relative;
}
.modal-video .modal-content {
    background:transparent;
    border:0px;
    box-shadow:none;
    margin:auto;
    width:100%;
    height:510px;
}
.modal-video .modal-content .close {
    right:0px;
    margin-top:-20px;
    position:absolute;
    font-size:40px;
}
.modal-video .modal-content iframe, .modal-video .modal-content  video {
    margin:auto;
    display:block;
    top:0px;
}
#video-institucional { 
    display:block;
    margin:auto;
}
.modal-header {
    min-height: 16px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #40a9ce;
    /*border-radius: 10px 10px 0 0;*/
}

.modal-header h4  {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.modal-body h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #232973;
}


.modal-body-mt {
    margin-top: 20px;
    padding: 0 30px 40px 30px;
}


.modal-body label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    display: block;
    color: #666;
    margin-bottom: 2px;
}

.modal-body input {
    width: 100%;
    /*border-radius: 5px;*/
    border: solid #ccc 1px;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #999;
    font-size: 12px;
}


h4.insidemodal-title {
    font-size: 18px;
    color: #232973;
    font-weight: 700; 
    margin-bottom: 20px;
}


.modal-header .close {
    margin-top: 2px;
}
button.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    color: #fff;
    opacity: 1;
    text-shadow: none !important;
}

.modal-header{
    background-color: #232973;
    padding: none;
}

.modal-title{
    color: white;
    margin-left: 2%;
    text-transform: 13px;
}

.modal-body img{
    float: left;
    margin-right: 20px;
}

.modal-body p h4{
    display: block;
    float: left;
    text-transform: bold none;
    padding-top: 23%;
}


/*PERFIL DO PROFISSIONAL*/
.profile-topcontent{
    border-bottom: solid 1px #e6ebed;
    padding-bottom: 20px;
}

.profile-topcontent h4 {
    color: #3da4ce;
    text-transform:uppercase;
}

.profile-image{
    padding-top: 10px;
    margin-top: 0;
    float: left;
}

.profile-text{
    padding-top: 30px;
}

.profile-contentblock h4{
    text-transform:uppercase;
}

.profile-contentblock {
    border-bottom: solid 1px #e6ebed;
    padding-bottom: 15px;
    padding-top: 15px;
}

.modal-buttons{
    text-align: center;
    margin-top: 20px;
} 

.modal-buttons button {
    margin: 0 5px;
}

#bunt-space{
    margin-right: 1%;
}


/*Agende sua consulta*/

#btn-profissional-perfil{
    margin-top: 20px;
}

.lista-horarios{
    width: 100%;
    background-color: #f5f5f5;
    /*border-radius: 9px;*/
    padding: 20px auto;
    border: solid 1px #d5d3d3;
    margin-top:20px; 
    
    }
    
    .lista-horarios h4{
        text-align: center;
        margin: 20px;
        color: #232973;
    }

    .lista-horarios ul{
        padding: 0;
        height: 250px;
        overflow-y:scroll;

    }

    .lista-horarios li{
        list-style: none;
        background-color: white;
        border: solid 1px #d5d3d3;
        width: 98%;
        padding: 8px;
        margin: 1px;
    }


.check-box input{
    margin-top: 20px;
    margin-left: 9px;
}   

    .check-box form{
        font-size: 12px;
    }   


    #color-bck{
        background-color: #dadada;
        opacity: 0.6;
        color: #b1afaf;
    }

    #color-bck2{
        background-color: #59decb;
        opacity: 0.6;
    }   


#extrahorarios-content {
    display: none;
}
    .btn-more{
        border: none;
        background: none;   
    }

    #extrahorarioscontent-two{
        display: none;
    }



/* ----- INTERNAS ----- */

.pages-wrap{
    background: #eee;
    background-size: cover;
    padding: 140px 0 60px 0;
}

.pages-main-content {
    background: #fff;
    /*border-radius: 10px;*/
}

.pages-main-content img{
    margin-right: 10px;
}

/*CADASTRO*/

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    background: url(../images/tab-bg.jpg) repeat-x;
    /*border-radius: 10px 10px 0 0;*/
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    width: 100%;
    padding: 20px 0;
    /*border-radius: 10px 10px 0 0;*/
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    width: 100%;
    padding: 20px 0;
    color: #666;
    /*border-radius: 10px 10px 0 0;*/
}

.tab-content {
    border: solid 1px #eee;
    border-top: 0;
    /*border-radius: 0 0 10px 10px ;*/
}

.tabcontent-inside {
    padding: 30px;
    color: #666;
}

.tabcontent-inside h3{
    font-size: 18px;
    color: #232973;
    text-transform: uppercase;
    font-weight: 700; 
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.tabcontent-inside label {
    display: block;
    font-size: 16px;
    color: #232973;
    font-weight: 100;
}

.tabcontent-inside input[type="text"] {
    width: 100%;
    padding: 9px;
    /*border-radius: 10px;*/
    border: solid 1px #ccc;
    margin-bottom: 20px;
}

.tabcontent-inside input[type="radio"] {
    padding: 9px;
    /*border-radius: 10px;*/
    border: solid 1px #ccc;
    margin-bottom: 20px;
    margin-top: 12px;
}

.radioitem {
    margin-right: 20px;
    width: 30%;
    float: left;
}

.register-button {
    margin-top: 20px;
    text-align: center;
}

.register-button button {
    margin-bottom: 20px;
}

p.superscript {
    color: #999;
}

span.sm-registerlabel {
    font-size: 16px;
}

.input-group-btn {
    width: 1%;
    white-space: nowrap;
     vertical-align: top; 
}

.input-upload {
    /*border-radius: 10px 0 0 10px !important;*/
}

.btn-upload {
    color: #fff;
    background: #999;
    padding: 8px 20px !important;
}


/*ALERTA*/

.modal-alert{
    background-color: white;
    /*border-radius: 6px;*/
}

.header-alert{
    background-color: #f26522;
    padding: 20px;
    /*border-radius: 6px 6px 0 0;*/
}

   .header-alert img{
    float: left;
    margin-right: 18px;
}

.txt-alert{
    color: #666666;
    margin: 35px;
    font-size: 15px;
}

    .txt-alert h4{
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 28px;
    }

    .box-alert{
        background-color: #e6ebed;
        color: #f26522;
        text-align: center;
        padding: 20px;
    }

.footer-alert img{
    margin-right: 15px;
}
    .footer-alert button{
        margin-top: 0px;
        margin-right: 28%;
        margin-bottom: 35px;
        margin-left: 28%;
}


/* ========= BUTTONS ========= */

/*Main styles*/
.btn.disabled {
    color: #ccc;
    background: #f7f7f7;
    border-color: #ccc;
}

.btn-actions {
    text-transform: uppercase;
    padding: 8px 15px;
}

.btn-filters {
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
}

.btn-modal {
    padding: 6px 15px;
    text-transform: uppercase;
    font-size: 12px;
}

/*Button styles*/
.btn-confirm,
.btnmodal-update  {
    background-color: #40a9ce;
    border: #1d99c4;
    color: #fff;
}
.btn-confirm:hover,
.btnmodal-update:hover {
    background-color: #1384ab;
    border: #1d99c4;
    color: #fff;
}



span.contrato-topico {
    color: #163b5e;
    font-weight: bold;
    font-size: 16px;
    padding-right: 5px;
}

.form-group input {
    height: 58px;
}


.professional-photo {
   text-align:center;
}


   .modal .img-v {
        height:190px;
        max-height:190px;
        display:block;
        position:relative;
        background-size:cover;
        background-position:50%;
        background-repeat:no-repeat;
    }

    
.modal-title {
    font-weight: bold !important;
    color: #fff !important;
}

.modal-esqueci-senha .header-alert {
    background-color: #232973
}

.bloco-calendario-disponivel:hover {
    background:#eee
}
.btn-notificacoes {
    background:#2d98bc;
}


.pagamento-retorno  {
    text-align:center;
}