#admin-calendar ul {list-style-type: none;}


#calendar-day {
    display: block;
}

#calendar-week,
#calendar-month,
#calendar-year {
    display: none;
}


/********Calendário Menor*********/

/*=========small calendar - estrutura======*/

.small-calendar{
    margin-top: 20px;
    height: 200px;
    width: 90%;
    width: 100%;
}

.small-calendar-title{
    text-align: center;
}

/*========titulo========*/

.small-calendar .arrow{
    padding: 0px 10px;
    color: white;
    margin: 0px;
    text-align: center;
}

.small-calendar .arrow span {
    margin: 0 10px;
}

.backstage{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #232973;
    display: inline-table;
    width: 338px;
    text-align: right;
    padding: 9px 4px;
}

#calendar-day .controls-calendar {
    text-align: right;
    padding: 20px 10px;
    color: #232973;
}

#calendar-week h3.data-calendario,
#calendar-month h3.data-calendario,
#calendar-year h3.data-calendario {
    display: inline-block;
}

#calendar-week .controls-calendar,
#calendar-month .controls-calendar,
#calendar-year .controls-calendar {
    padding: 20px 10px;
    color: #232973;
    display: inline-block;
}

.arrow p{
    font-size: 16px;
}


/*==========semana===========*/
.semana {
    text-transform: uppercase;
}

.semana li {
    display: inline-block;
    width: 12.8%;
    color: #666;
    padding-top: 5px;
    padding-right: 5px
}

.daynumber.daynumber{
    text-align: center; 
    padding-top: 5px;
    padding-right: 5px;
}

/*========mês=======*/
.daynumber li.dias-mes{
    text-align: center !important;
}

.dias-mes{
    margin: 0;
}

.dia-mes li{
    list-style-type: none;
    float: left;
    width: 13.6%;
    text-align: center;
    font-size: 12px;
    color: #333;
    height: 30px;
    border-bottom: 0;
    border-right: 0;
}

/*=======Dia=======*/
.small-calendar td {

    border: 1px solid black;
}

.days tr{
   height: 50px;
   vertical-align: bottom;

}

.daynumber{
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
}
    
.dia-mes li.ultimos-dias {
    border-bottom: solid 1px #ccc;
}

.dia-mes li.othermonth {
    color:#ccc;
}
.dia-mes li.tdborderr {
    border-right: solid 1px #ccc;
}

.semana li.tdborderl {
    border-left: solid 1px #ccc;
}

.tdborderl{
    border-left: solid 1px #ccc;
    height: 30px;
}


/* ------- DAILY VIEW ------- */

.daily-left {
    border-right: solid 1px #ccc;
    padding-right: 20px;
}

.daily-hours li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.daily-hours li:first-child {
    border-top: 1px solid #ccc;
}

.daily-hours .hour {}

.daily-event.event-approved{
    padding: 10px;
    display: inline;
    margin-left: 10px;
    background: #20a2dc;
    color: #000;
    /*border-radius: 10px;*/
}

.daily-event.event-approved:hover {
    background: #0088c4;
    color: #000;
}


.monthly-view {
    padding: 30px;
    border-bottom: solid 1px #ccc;
}

.daily-details h3 {
    text-transform: capitalize;
}

.daily-details{
    margin-top: 20px;
    padding-top: 20px;
}

.daily-notes h5 {
    color: #000;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 18px;
}

.daily-notes button {
    float: right;
    padding: 2px 10px;
    margin-top: -5px;
    background: #eee;
    border: solid 1px #999;
    /*border-radius: 5px;*/
}

.daily-notes p {
    color: #999;
}

.margin-line{
    padding-bottom: 15px;
    /*border-bottom: solid 1px #ccc;*/
}

/*WEEKLY VIEW*/


.weekly-hours-title li.hour {
    width: 10%;
    padding: 5px 0;
}

.weekly-hours-title li {
    float: left;
    height: 30px;
    width: 12.85%;
    text-transform:uppercase;
    text-align: center;
}


.weekly-hours li.hour {
    width: 10%;
    border-top: 1px solid #ccc;
    padding: 5px 0;
    text-align: right;
    padding-right: 15px;
}

.weekly-hours li {
    float: left;
    height: 40px;
    width: 12.85%;
    border-left: solid 1px #ccc;
    border-top: 1px solid #ccc;
}

.weekly-hours li:last-child {
    float: left;
    height: 40px;
    width: 12.85%;
    border-left: solid 1px #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.weekly-borderb li {
    border-bottom: 1px solid #ccc;
}


/* ------- MONTH VIEW ------- */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/* Weekdays */
.weekdays {
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    margin: 0;
}

.days li {
    list-style-type: none;
    float: left;
    width: 13.6%;
    text-align: center;
    font-size:12px;
    color:#333;
    height: 90px;
    border: solid 1px #ccc;
    border-bottom: 0;
    position: relative;
    border-right: 0;
}

.days li.othermonth {
    color:#ccc;
}

.days li.tdborderr {
    border-right: solid 1px #ccc;
}


.days li.tdborderb {
    border-bottom: solid 1px #ccc;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.daynumber {
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
}

.daymonth-event {    
}

.daymonth-event.event-request a {
    background: #ccc;
    padding: 5px 0;
    color: #000;
    display: block;
}

.daymonth-event.event-request a:hover {
    background: #eee;
    color: #000;
}

.daymonth-event.event-confirmed a {
    background: #f9ad71;
    padding: 5px 0;
    color: #000;
    display: block;
}

.daymonth-event.event-confirmed a:hover {
    background: #ff892c;
    color: #000;
}

.daymonth-event.event-approved a {
    background: #20a2dc;
    padding: 5px 0;
    color: #000;
    display: block;
}

.daymonth-event.event-approved a:hover {
    background: #0088c4;
    color: #000;
}


/* -------- YEAR VIEW ------- */

.year-calendar{
    margin-top: 5px;
    height: 200px;
    width: 100%;
}

.year-calendar-title{
    text-align: center;
}

.yearview-day{
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
}

.yearcalendar-item {
    margin-top: 15px;
}

.yearcalendar-item h4 {
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #999;
    font-size: 13px;
}

.yearview-semana {
    text-transform: uppercase;
}

.yearview-semana li {
    display: inline-block;
    color: #999;
    padding-top: 5px;
    padding-right: 5px
}

.popover.right .arrow:after {

}



.consulta-hidden {
    display: none;
    position: absolute;
    left: 100px;
    padding:10px 20px;
    top:-140px;
}
.consulta-hidden:before {
    content: '\f0d9';
    position:absolute;
    left:-10px;
    width:30px;
    height:30px;
    font-size:3em;
    color:#fff;
    top:38%;
    display:block;
    font-family: 'FontAwesome', sans-serif;
}

.popover-consult {
    padding: 10px 0;
}

.appointment-status {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.appointment-status.status-requested {
    color: #666;
}

.appointment-status.status-nopayment {
    color: #ff6000;
}

.appointment-status.status-confirmed {
    color: #42adcd;
}


.popover-consult h2 {
    font-size: 18px;
    margin-top: 5px;
}

.appointment-info {
    border-top: #d1d1d1 dotted 1px;
    border-bottom: #d1d1d1 dotted 1px;
    padding: 10px 0;
}

.appointment-info p{
    padding: 0;
    margin: 0;
    color: #676767;
}

.appointment-notes {
    border-bottom: #d1d1d1 dotted 1px;
    margin-bottom: 15px;
}

.appointment-notes p{
    color: #676767;
}

.btn-popovercalendar {
    /*border-radius: 8px;*/
    font-size: 13px;
    text-transform: uppercase;
    border: #1d99c4;
    background-color: #32b9e3;
    color: white;
    text-align: center;
    padding: 6px 14px;
}

#calendar-week .daily-event {
    position:relative;
}

.consulta-vazia {
    
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

}