@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* ----- Criaturo CSS ----- */


body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background: #ececec;
    background-size: cover;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a, p  {
    font-family: 'Montserrat', sans-serif;
}

/*p {
    font-family: 'Lato', sans-serif;
    font-weight: light;
}*/

a {
    color: #232973;
    -webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;
    outline: none !important;
    cursor: pointer !important; 
}

a:hover {
    color: #36b98d;
    text-decoration: none;
}

a:active {
    outline: none !important;
}

.clear {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
}

.align-right {
    float: right;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

@media (min-width: 768px) {
    .col-nopadding {
        padding: 0;
    }
}
@media screen and (max-width: 767px) {
    .col-nopadding {
        padding: 0 15px;
    }
}




/* ------ Menu ----- */

.navbar.navbar-default.navbar-fixed-top {
    background: #fff;
}

.navbar-brand {
    float: left;
    height: 32px;
    padding: 10px 10px;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #232973;
    font-size: 13px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #232973;
    background-color: transparent !important;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 5px 0;
        border: 0;
        -webkit-transition: padding .3s;-moz-transition: padding .3s;transition: padding .3s;
    }

    img.header-logo {
        height: 32px;
        width: auto;
        -webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .search-top {
        margin-top: 15px;
        width: 350px;
        float: left;
        margin-left: 85px;
    }

    .search-top input {
        font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 13px;
        color: #555860;
    }

    .search {
        position: relative;
        margin: 0 auto;
        width: 300px;
    }
}
@media screen and (max-width: 767px) {
    .search-top {
        margin: 15px 0 10px 0;
        width: 100%;
    }

    .search-top input {
        font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 13px;
        color: #555860;
    }

    .search {
        position: relative;
        margin: 0 auto;
        width: 100%;
    }
}




.search input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #3a4383;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}


/* ---------- ADMIN Content ---------- */

.professional-photo {
    text-align: center;
}

@media (min-width: 768px) {
    .admincontent-wrap {
        margin-top: 40px;
    }
}
@media screen and (max-width: 767px) {
    .admincontent-wrap {
        margin-top: -10px;
    }
}

/*NOTIFICATIONS DROPDOWN*/
#notifications-dropdown.jq-dropdown .jq-dropdown-menu.notificationspreview, #notifications-dropdown.jq-dropdown .jq-dropdown-panel {
    min-width: 200px;
    max-width: 460px;
    list-style: none;
    background: #e5f0ee;
    border: 0;
    /*border-radius: 5px;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
    color: #333;
    font-size: 13px;
}
.notificationspreview li.txt-center {
    font-size:0.8em;
    color:#888;
}
#notifications-dropdown h3 {
    font-size: 15px;
    padding: 3px 10px 0 10px;
    margin: 0;
    text-transform: uppercase;
    color: #666;
    font-weight: 100;
}

.notificationspreview-thumb {
    float: left;
    width: 55px;
}

#notifications-dropdown.jq-dropdown.jq-dropdown-tip::before {
    position: absolute;
    top: -6px;
    left: 9px;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e5f0ee !important;
    display: inline-block;
}

#notifications-dropdown.jq-dropdown.jq-dropdown-tip::after {
    position: absolute;
    top: -5px;
    left: 10px;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #e5f0ee;
    display: inline-block;
}

#notifications-dropdown.jq-dropdown .jq-dropdown-menu li > a, .jq-dropdown .jq-dropdown-menu label {
    display: block;
    color: inherit;
    text-decoration: none;
    line-height: 18px;
    padding: 3px 10px 10px 10px;
    margin: 0;
    white-space: normal; 
}

#notifications-dropdown.jq-dropdown .jq-dropdown-menu.notificationspreview li {
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: #999 solid 1px;
}

#notifications-dropdown.jq-dropdown .jq-dropdown-menu.notificationspreview li:last-child {
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: none;
}

#notifications-dropdown.jq-dropdown .jq-dropdown-menu.notificationspreview li > a:hover, #notifications-dropdown .jq-dropdown .jq-dropdown-menu label:hover {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    color: #060a39;
}

#notifications-dropdown li.vertodas {
    text-align: center;
    text-transform: uppercase;
}

#notifications-dropdown li.vertodas a {
    margin: 0 !important;
    padding: 0 10px !important;

}



/*CONFIG DROPDOWN*/
.jq-dropdown .jq-dropdown-menu, .jq-dropdown .jq-dropdown-panel {
    min-width: 140px;
    max-width: 160px;
    list-style: none;
    background: #3a4383;
    border: solid 1px #3a4383;
    /*border-radius: 10px;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
    color: #fff;
    font-size: 13px;
}

.jq-dropdown.jq-dropdown-tip::before {
    position: absolute;
    top: -6px;
    left: 9px;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #3a4383 !important;
    display: inline-block;
}

.jq-dropdown.jq-dropdown-tip::after {
    position: absolute;
    top: -5px;
    left: 10px;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #3a4383;
    display: inline-block;
}

.jq-dropdown .jq-dropdown-menu li {
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: #060a39 solid 1px;
}

.jq-dropdown .jq-dropdown-menu li:last-child {
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: none;
}

.jq-dropdown .jq-dropdown-menu li > a:hover, .jq-dropdown .jq-dropdown-menu label:hover {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    color: #060a39;
}

/* ---------- ADMIN MAIN---------- */


@media (min-width: 768px) {
    .nav-tabs {
    }

    .nav-tabs li{
        width: 20%;
        background: url(../images/tab-bg.jpg) repeat-x;
        border: 1px solid #ddd;
        border-bottom: 0 !important;
        /*border-radius: 10px 10px 0px 0px; 
        -moz-border-radius: 10px 10px 0px 0px; 
        -webkit-border-radius: 10px 10px 0px 0px;*/ 
    }

    .nav-tabs li.active a {
        color: #555;
        cursor: default;
        background-color: #fff !important;
        border: 1px solid #ddd;
        border-bottom: 0 !important;
        /*border-radius: 10px 10px 0px 0px; 
        -moz-border-radius: 10px 10px 0px 0px; 
        -webkit-border-radius: 10px 10px 0px 0px; 
*/
    }

    .nav-tabs li a{
        padding: 70px 0 15px 0;
        text-align: center;
        color: #515151;
        margin: 0;
        border-bottom: 0 !important;
    }

    .nav-tabs li a.menu01{
        background: url(../images/icon-meuperfil.png) no-repeat;
        background-position: center 20px;
    }

    .nav-tabs li a.menu02{
        background: url(../images/icon-minhaagenda.png) no-repeat;
        background-position: center 20px;
    }

    .nav-tabs li a.menu03{
        background: url(../images/icon-historico.png) no-repeat;
        background-position: center 20px;
    }

    .nav-tabs li a.menu04{
        background: url(../images/icon-mensagens.png) no-repeat;
        background-position: center 20px;
    }

    .nav-tabs li a.menu05{
        background: url(../images/icon-blocodenotas.png) no-repeat;
        background-position: center 20px;
    }
}
@media screen and (max-width: 767px) {
    .nav-tabs {
        text-indent: -99999px;
    }

    .nav-tabs li{
        width: 20%;
        background: url(../images/tab-bg.jpg) repeat-x;
        border: 1px solid #ddd;
        border-bottom: 0 !important;
        /*border-radius: 10px 10px 0px 0px; 
        -moz-border-radius: 10px 10px 0px 0px; 
        -webkit-border-radius: 10px 10px 0px 0px; */
    }

    .nav-tabs li.active a {
        color: #555;
        cursor: default;
        background-color: #fff !important;
        border: 1px solid #ddd;
        border-bottom: 0 !important;
        /*border-radius: 10px 10px 0px 0px; 
        -moz-border-radius: 10px 10px 0px 0px; 
        -webkit-border-radius: 10px 10px 0px 0px;*/ 

    }

    .nav-tabs li a{
        padding: 15px 0 25px 0;
        text-align: center;
        color: #515151;
        margin: 0;
        border-bottom: 0 !important;
    }

    .nav-tabs li a.menu01{
        background: url(../images/icon-meuperfil.png) no-repeat;
        background-position: center 15px;
        background-size: 60%;
    }

    .nav-tabs li a.menu02{
        background: url(../images/icon-minhaagenda.png) no-repeat;
        background-position: center 15px;
        background-size: 60%;
    }

    .nav-tabs li a.menu03{
        background: url(../images/icon-historico.png) no-repeat;
        background-position: center 15px;
        background-size: 60%;
    }

    .nav-tabs li a.menu04{
        background: url(../images/icon-mensagens.png) no-repeat;
        background-position: center 15px;
        background-size: 60%;
    }

    .nav-tabs li a.menu05{
        background: url(../images/icon-blocodenotas.png) no-repeat;
        background-position: center 15px;
        background-size: 60%;
    }
}







.tab-content {
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0 !important;
    /*border-radius: 0px 0px 10px 10px ; 
    -moz-border-radius: 0px 0px 10px 10px ; 
    -webkit-border-radius: 0px 0px 10px 10px ; */
}

.tabcontent-inside {
    padding: 25px;
}


.submenu {
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
}

.submenu li {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
}

.submenu li a{
    color: #515151;
    background: #fff;
    border: solid 2px #e7e7e7;
    padding: 5px 10px;
    /*border-radius: 10px ; 
    -moz-border-radius: 10px ; 
    -webkit-border-radius: 10px ;*/
}

.submenu li a:hover,
.submenu li a.active{
    color: #36b98d;
    background: #f7f7f7;
    border: solid 2px #36b98d;
    padding: 5px 10px;
}
.tabcontent-inside h3 {
    font-size: 20px;
    color: #232973;
    text-transform: uppercase;
    font-weight: 700;
    clear: both;
    width: 100%;
}

.tabcontent-inside #meuperfil {

}

.tabcontent-inside #meuperfil img {
    display:block;
    margin:auto;
}

/* -------- GRAFICOS HOME --------- */

/*LINHA*/
.ct-golden-section .ct-line {
  stroke: #21c7f5;
  stroke-width: 2px;
}

.ct-golden-section .ct-point {
    stroke: #31327c;
}

/*BARRAS*/
.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: #85c5e3;
  /* The width of your bars */
  stroke-width: 20px;
}

/*PIZZA*/
.ct-series-a .ct-slice-pie {
  /* fill of the pie slieces */
  fill: #21c7f5;
  /* outline width */
  stroke-width: 4px;
}

.ct-series-b .ct-slice-pie {
    fill: #31327c;
}

/* ---------- ADMIN SIDEBAR ---------- */



@media (min-width: 768px) {
    .paciente-photo {
        text-align: center;
        margin: 10px auto 25px auto;
    }

    .paciente-photo h3 {
        font-size: 18px;
        color: #232973;
        padding: 0;
        margin: 15px 0 5px;
    }

    .paciente-photo p {
        color: #5a5c61;
    }

}

@media screen and (max-width: 767px) {
    .paciente-photo {
        text-align: left;
        margin: 10px auto 25px auto;
    }

    .paciente-photo img {
        float: left;
        width: 45px;
    }

    .paciente-photo h3 {
        font-size: 18px;
        color: #232973;
        padding: 0;
        margin: 15px 0 5px;
        padding-left: 55px;
        padding-top: 8px;
    }

    .paciente-photo p {
        color: #5a5c61;
        padding-left: 15px;
    }
}







.sidebarblock {
    background: #ececec;
    /*border-radius: 10px ; 
    -moz-border-radius: 10px ; 
    -webkit-border-radius: 10px ;*/
    padding: 10px;
    margin-bottom: 20px;
}

.sidebar-vermais {
    width: 100%;
    text-align: right;
}

.sidebarblock h2 {
    font-size: 16px;
    color: #000;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
}

.proximaconsulta {
    background: #fff;
    background-position: right center;
    /*border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;*/
    margin-bottom: 10px;
    padding: 10px;
}
    
.proximaconsulta .pccontent {
    background: url(../images/icon-arrow.png) no-repeat;
    background-position: right center;

}

.proximaconsulta .pcdata{
    font-weight: 700;
}

.avisossidebar {
    background: #fff;
    background-position: right center;
    /*border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;*/
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
}
    
.avisossidebar .ascontent {
    background: url(../images/icon-arrow.png) no-repeat;
    background-position: right center;

}
.avisossidebar .ascontent .asdescricao {
    max-width:80%;
}

.avisossidebar .asdata{
    font-weight: 700;
}


.panel-group .panel {
    margin-bottom: 0;
    /*border-radius: 10px;*/
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    /*border-radius: 10px;*/
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    background: #eee;
    /*border-radius: 0 0 10px 10px;*/
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}

/* ---------- MODAL PERFIL ---------- */

.modal-dialog {
    margin-top: 100px;
}

.modal-content {
    /*border-radius: 10px;*/
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #40a9ce;
    /*border-radius: 10px 10px 0 0;*/
    margin-bottom: 20px;
}

h4#modalPerfilLabel  {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    /*font-weight: 700; */
}

.modal-body h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #232973;
}


.modal-body-mt {
    margin-top: 20px;
    padding: 0 30px 40px 30px;
}


.modal-body label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    display: block;
    color: #666;
    margin-bottom: 2px;
}

.modal-body input {
    width: 100%;
    /*border-radius: 5px;*/
    border: solid #ccc 1px;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #999;
    font-size: 12px;
}


h4.insidemodal-title {
    font-size: 18px;
    color: #232973;
    font-weight: 700; 
    margin-bottom: 20px;
}


.modal-header .close {
    margin-top: 2px;
}
button.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    color: #fff;
    opacity: 1;
    text-shadow: none !important;
}

.editarperfil-senha {
    margin-top: 30px;
}


.fileinput-remove-button {
     float: none; 
}


#modalHumor .modal-dialog {
    width: 400px;
    height: 500px;
    margin: 30px auto;
    margin-top: 100px;
}

#humor-wrap {
    height: 100%;
    width: 100%;
    position: relative;
}

#circle-selection {
    position: absolute;
    background: url(../images/humor-selection.png) no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 40;
    right: 40;
    bottom: 0;
    z-index: 1;
}

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
    z-index: 1000;
}

.owl-theme .owl-controls .owl-buttons div{
    color: #235797;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    font-size: 12px;
    background: transparent;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    z-index: 1000;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
    height: 0;
}

#owl-humor-top .owl-item > div img {
    display: block;
    width: 75px;
    height: auto;
    margin: 0 auto;
}

#owl-humor-top .owl-item > div{
    text-align: center;
    color: white;
    font-size: 32px;
    border: 1px white;
}

#owl-humor-bottom .owl-item > div img {
    display: block;
    width: 80px;
    height: auto;
    margin: 0 auto;
}

#owl-humor-bottom .owl-item > div{
    text-align: center;
    color: white;
    font-size: 32px;
    border: 1px white;
}

.wrapper-with-margin{
  margin:0px 20px;
}

 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 15px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 15px;
}

#humor-markup {
    text-align: center;
}


/*MODAL DEFINIR HORARIOS*/

.horarariosatend-select {
    display: inline-block;
}

#workhours input.horariosem {
    display: inline-block;
    width: auto;
}

#workhours label {
    display: inline-block !important;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    display: block;
    color: #666;
    margin-bottom: 2px;
    margin-left: 15px;
}

#workhours li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.meu-curriculo textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    min-height: 70px;
}


ul.consultas {
    margin-left: 0;
}

.consultas-form ul{
    list-style-type:none;
    margin-top: 0;
}

.consultas-form label{
    color: #252976;
    font-weight: bold;
    margin-top: 20px;
}

.consultas {
    margin-top: 15px !important;
    margin-bottom: 15px;
    border: solid 1px #eee;
    /*border-radius: 10px;*/
}


.consultas li.impar {
    border-bottom: solid 1px #eee;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

span.price-title {
    padding-top: 10px;
    display: block;
    padding-left: 10px;
}
.consultas input {
    /*border-radius: 5px;*/
    border: solid #ccc 1px;
    padding: 5px 10px;
    color: #999;
    font-size: 12px;
    margin-bottom: 5px !important;
    margin: 5px;
    margin-right: 50px !important;
}

.consulta-gratis {
    padding: 10px;
    background: #f7f7f7;
    border: solid #eee 1px;
    /*border-radius: 10px;*/
    margin-bottom: 15px;
}

.consulta-gratis p {
    margin: 0;
}

.consulta-gratis input[type="checkbox"] {
    width: auto;
}



/* ---------- ADMIN AGENDA ---------- */
#calendar {
    height: auto;
}

/* ---------- ADMIN HISTÃ“RICO ---------- */


/* ---------- ADMIN MENSAGENS ---------- */

.mensagemblock-left {
    background: #f4f4f4;
    /*border-radius: 10px 0 0 10px;*/
    border: solid 1px #ccc;
    height: 550px;
}

.mensagemblock-left h4 {
    background: #d7d7d7;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 10px 15px;
    /*border-radius: 10px 0 0 0;*/
}

#mensagens .bold{
    text-transform: uppercase;
    font-size: 15px;
    color: #333;
}

#mensagens p{
    color: #999;
}

.mensagemblock-left ul.mensagens-list {
    padding: 15px;
}

.mensagemblock-left ul.mensagens-list li{
    border-bottom: dotted 1px #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.mensagemblock-right {
    background: #f4f4f4;
    /*border-radius: 0 10px 0 0;*/
    border: solid 1px #ccc;
    height: 440px;
    overflow: hidden;
}

.mensagemblock-right h4 {
    background: #d7d7d7;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 10px 15px;
    /*border-radius: 0 10px 0 0;*/
    height: 35px;
}

#mensagens .bold{
    text-transform: uppercase;
    font-size: 15px;
    color: #333;
}

.mensagemblock-right ul.mensagens-chat {
    padding: 15px;
    height: 412px;
    overflow-y: scroll;
}

.mensagemblock-right ul.mensagens-chat li{
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#messagefield-wrap {
    background: #f4f4f4;
    width: 100%;
    height: 110px;
    border: solid 1px #ccc;
    border-top: 0;
    border-left: 0;
    /*border-radius: 0 0 10px 0;*/
    padding: 10px;
}

#messagefield-wrap input[type="text"] {
    width: 85%;
    height: 100%;
    min-height: 90px;
    /*border-radius: 5px 0 0 5px;*/
    border: 1px solid #ccc;
}



#messagefield-wrap .btn-sendmessage {
    width: 14%;
    margin: 0;
    height: 90px;
    /*border-radius: 0 5px 5px 0;*/
    background-color: #40a9ce;
    border: #1d99c4;
    color: #fff;
}
#messagefield-wrap .btn-sendmessage:hover {
    background-color: #1384ab;
    border: #1d99c4;
    color: #fff;
}

.mensagem-time {
    color: #999;
    margin: 0 20px;
    font-size: 12px;
}

.mensagem-text-left {
    width: 100%;
    height: auto;
    background: #defcf4;
    border: solid 1px #defcf4;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
    color: #999;
    font-size: 13px;
    padding: 10px;
    margin-top: 12px;
}

.mensagem-text-left::before {
    position: absolute;
    top: 27px;
    left: 9px;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #defcf4 !important;
    display: inline-block;
}

.mensagem-text-left::after {
    position: absolute;
    top: 28px;
    left: 10px;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #defcf4;
    display: inline-block;
}

.mensagem-text-right {
    width: 100%;
    height: auto;
    background: #dee7fc;
    border: solid 1px #dee7fc;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
    color: #999;
    font-size: 13px;
    padding: 10px;
    margin-top: 12px;
}

.mensagem-text-right::before {
    position: absolute;
    top: 27px;
    right: 9px;
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #dee7fc !important;
    display: inline-block;
}

.mensagem-text-right::after {
    position: absolute;
    top: 28px;
    right: 10px;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #dee7fc;
    display: inline-block;
}

.chat-right {
    text-align: right;
}

/* ---------- ADMIN BLOCO DE NOTAS ---------- */

.anotacoesblock-left {
    background: #f4f4f4;
    /*border-radius: 10px 0 0 10px;*/
    border: solid 1px #ccc;
    height: 550px;
}

.anotacoesblock-left h4 {
    background: #d7d7d7;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 10px 15px;
    /*border-radius: 10px 0 0 0;*/
}

#bloconotas .bold{
    text-transform: uppercase;
    font-size: 15px;
    color: #333;
}

#bloconotas p{
    color: #999;
}

.anotacoesblock-left ul.anotacoes-list {
    padding: 15px;
}

.anotacoesblock-left ul.anotacoes-list li{
    border-bottom: dotted 1px #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.anotacoesblock-right {
    background: #f4f4f4;
    /*border-radius: 0 10px 10px 0;*/
    border: solid 1px #ccc;
    height: 550px;
}

.anotacoesblock-right h4 {
    background: #d7d7d7;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 10px 15px;
    /*border-radius: 0 10px 0 0;*/
    height: 35px;
}

#bloconotas .bold{
    text-transform: uppercase;
    font-size: 15px;
    color: #333;
}

.anotacoesblock-right .anotacao-content {
    padding: 15px;
    height: 512px;
    overflow-y: scroll;
}

.anotacoesblock-right ul.anotacao-content li{
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.anotacao-content .nota-header{
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.anotacao-content .nota-header p{
    color: #333 !important;
}

.anotacao-content .nota-header .align-left{
    width: 50%
}

.anotacao-content .nota-header ul{
    position: absolute;
    top: 0;
    right: 0;
}

.anotacao-content .nota-header li{
    display: inline-block;
    margin-left: 2px;
}

.anotacoes-time {
    color: #999;
    margin: 0 20px;
    font-size: 12px;
}

.anotacoes-text-left {
    width: 100%;
    height: auto;
    background: #defcf4;
    border: solid 1px #defcf4;
    /*border-radius: 10px;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
    padding: 4px 0;
    margin: 0;
    color: #999;
    font-size: 13px;
    padding: 10px;
    margin-top: 12px;
}




/* ---------- ADMIN FOOTER ---------- */
.menuadmin-footer {

}

.menuadmin-footer li{  
    display: inline-block;
    padding: 0px 10px;
    margin: 10px 0;
    border-right: 1px solid #394f82;
}

.menuadmin-footer li:last-child{  
    border-right: 0;
}


/* ---------- INTERNAS ---------- */

.admin-content-main {
    background: #fff;
    /*border-radius: 10px;*/
}

.admin-content-title {
    background: #40a9ce;
    padding: 10px 20px;
    /*border-radius: 10px 10px 0 0;*/
}

.admin-content-title h1{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.admin-content-body {
    padding: 20px;
    background: #fff;
    /*border-radius: 0 0 10px 10px;*/
}

.pagination-wrap {
    text-align: center;
    padding-bottom: 20px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: #333;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50%;
    border: 0;
    margin: 0 1px;
}

ul.pagination li a.active {
    background-color: #40a9ce;
    color: white;
    border-radius: 50%;
}

/*NOTIFICATION*/

.notifications-box {
    /*border-radius: 10px;*/
    border: 1px solid #ccc;
    /*padding: 20px;*/
}

.notifications-item:first-child {
    /*border-radius: 10px 10px 0 0;*/
}

.notifications-item {
    background: #fff;
    padding: 20px;
    border-bottom: 1px dotted #999;
}

.bold {
    font-weight: bold;
}

.notifications-item p {
    margin-bottom: 0;
}

.notifications-item:last-child {
    /*border-radius: 0 0 10px 10px ;*/
    border-bottom: 0;
}

.notification-actions {
    float: right;
    padding-top: 10px;
}


/*SEARCH*/

.searchresults-box {
    /*border-radius: 10px;*/
    border: 1px solid #ccc;
    padding: 20px;
}

.searchresults-box h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: #8e99b6;
    margin: 0;
}

.searchresults-box h2 {
    font-size: 22px;
    color: #232973;
}

.searchresults-item {
    border-bottom: 1px dotted #999;
    padding-bottom: 10px;
}

.searchresults-item:last-child {
    border-bottom: 0;
    padding-bottom: 10px;
}


/*==========AGENDA COMPLETA DR.LOREM IPSUM================*/

.agenda-content-main{
    background-color: white;
    /*border-radius: 10px 10px 10px 10px;*/
    text-align: center;
}

.agenda-perfil h4{
    color: white;
}

.btn-agenda-content button{
    text-align: center;
    /*border-radius: 6px;*/
    background-color: #f8f8f8;
    border: solid 1px #d7d7d8;
    padding: 9px;
    margin-bottom: 8px;
    width: 200px;
}

.agenda-perfil{
    text-align: center;
} 

.agenda-perfil h4{
    color: #000;
    text-transform: uppercase;
    /*margin-top: 20px;*/
}

.agenda-perfil p{
    font-size: 16px;
    margin-bottom: 30px;
}

.agenda-content-title {
    background-color: #40a9ce;
    /*padding:10px;*/
    /*border-radius: 10px 10px 0 0;*/
    height: 60px;
}

.btns-header button {
    background-color: #f8f8f8;
    border: none;
    /*border-radius: 4px;*/
    width: 90px;
    height: 30px;
}

.btns-header {
    width: 290px;
    float:right;
    text-align: center;
    margin-top: 16px;
    margin-right: 20px;
}

.title-box { 
    color: white;
    width: 370px;
    float: left;
    margin: 12px auto;
    margin-left: 20px;
}

.agenda-content-title h3{
    color: white;
    display: block;
    /*width: 50%;*/
    margin: none;
}

.btn-agendar button {
    /*border-radius: 8px;*/
    font-size: 16px;
    border: #1d99c4;
    background-color: #32b9e3;
    color: white;
    text-align: center;
    padding: 9px 20px;
    margin: 25px 25px;
    float: right;
}

.agenda-table img {
    margin: auto 8px;
    width: 96%;
    margin-bottom: 30px;
}

.btn-agenda-content{
    text-align: center;
}




/*==========MEU PERFIL - AUTORIZAÃ‡ÃƒO APROVADA==========*/

.title-auto p {
    color: #a3a0a0;
    font-size: 11px;
}
    .title-auto h3{
        margin-top: 25px;
    }

.txt-auto {
    background-color: #e5e7e6;
    /*border-radius: 5px;*/
    border: none;
    height: 30px;
    padding: 7px 10px;

}

    .txt-auto p {
        color: #39b54a;
        font-weight: 800;
        margin: 0;
    }

    .txt-auto img {
        float: left;
        text-transform: uppercase;
        margin-right: 8px;
    }

.txt-infor {
    margin-top: 8px;
}

.atualizar-btn {
    clear: both;
}

.btn-modal-aprov {
    margin-top: 25px;
    /*border-radius: 5px;*/
    border: none;
}



/*==========MEU PERFIL - AUTORIZAÃ‡ÃƒO REPROVADA==========*/

.txt-reprov {
    background-color: #e5e7e6;
    /*border-radius: 5px;*/
    border: none;
    height: 30px;
    padding: 7px 10px;

}
     .txt-reprov p {
        color: #f26522;
        font-weight: 800;
        margin: 0;
    }
    
     .txt-reprov img {
        float: left;
        text-transform: uppercase;
        margin-right: 8px;
    }

/*==========CANCELAR CONSULTA==========*/

#modalMotivo {
    /*border-radius: 6px;*/
}

 
.pt-top {

        border-bottom: solid 1px #e6ebed;
        padding-bottom: 170px;
}

.pt-top h4{
    color: #3da4ce;
    text-transform:uppercase;
}
    
.pt-one h4{
    text-transform:uppercase;
}

.pt-one{
    border-bottom:solid 1px #e6ebed;
    padding-bottom: 2%;
    padding-top: 2%;
}

.pt-two h4{
    text-transform:uppercase;
}
.pt-two{
    border-bottom:solid 1px #e6ebed;
    padding-bottom: 2%;
    padding-top: 2%;

}

.pt-three h4{
    text-transform:uppercase;
}
.pt-three{
    border-bottom:solid 1px #e6ebed;
    padding-bottom: 2%;
    padding-top: 2%;
}

.pt-four h4{
    text-transform:uppercase;

}
 .pt-four{
    padding-bottom: 4%;
    padding-top: 2%;
    background-position: left center;
}
.img-top {
    padding-bottom: 20px;
    padding-top: 9px;
    margin-top: 0;
    float: left;
}

.txt-top {
    padding-top: 15px;
    float: left;
    width: 60%;
    margin-left: 45px;
}

    .txt-top h4 {
        color: #4cc2e6;
        text-transform: uppercase;
    }
    
.modal-header-cancel {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #f36523;
    border-radius: 10px 10px 0 0;
}
 
.question-title h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #666666;
    padding-bottom: none;
    margin-top: 20px;
    margin-left: 5px;
}
    .question-title textarea {
        text-align: center;
        /*border-radius: 6px;*/
        border: solid 1px #dbd9d9;
        background-color: #f5f5f5;
        margin-top: 12px;
    }
.btn-cancel {
    text-align: center;
}

.btn-cancel button {
    color: white;
    text-transform: uppercase;
    background-color: #f36523;
    border: none;
    /*border-radius: 5px;*/
    width: 210px;
    height: 35px;
    margin-top: 30px;
}

/*=======Agendar consulta - adm=====*/

.modal-header h4 {
    color: white;
}

#btn-profissional-perfil {
    margin-top: 20px;
}


.check-box input {
    margin-top: 20px;
    margin-left: 9px;
}   

.check-box form {
    font-size: 12px;
    margin-top: 15px;
}   


#color-bck {
    background-color: #dadada;
    opacity: 0.6;
    color: #b1afaf;
}

#color-bck2 {
    background-color: #59decb;
    opacity: 0.6;
}   


#outrosHorarios-content {
    display: none;
}

.btn-more {
    border: none;
    background: none;   
}

#two {
    display: none;
}


.date-consult {
    float: left;
    display: block;
}

.hour-consult {
    float: left;
}

.modal-body {
    margin: 0px 10px;
}

.agendar-btn {
    border-top: dotted 1px #ccc;
    text-align: center;
    margin-top: 6px;
}

.agendar-btn button{
    padding: 7px 12px;
    background-color: #32badf;
    color: white;
    margin-top: 20px;
    /*border-radius: 5px;*/
    border:none;
    margin-bottom: 18px;
}

.hour-options{
    margin-bottom: 0px;
    margin-top: 17px;
    margin-left: 4px;
}

.information-container{
    margin-top: 35px;
}

/*====END===*/


/* ========= BUTTONS ========= */

/*Main styles*/
.btn.disabled {
    color: #ccc;
    background: #f7f7f7;
    border-color: #ccc;
}

.btn-actions {
    text-transform: uppercase;
    padding: 8px 15px;
}

.btn-modal {
    padding: 6px 15px;
    text-transform: uppercase;
    font-size: 12px;
}

/*Button styles*/
.btn-confirm,
.btnmodal-update  {
    background-color: #40a9ce;
    border: #1d99c4;
    color: #fff;
}
.btn-confirm:hover,
.btnmodal-update:hover {
    background-color: #1384ab;
    border: #1d99c4;
    color: #fff;
}

.btn-decline {
    background-color: #fd7d70;
    border: #f16051;
    color: #fff;
}
.btn-decline:hover {
    background-color: #ca2d1d;
    border: #f16051;
    color: #fff;
}

.btn-alert {
    background-color: #ff8604;
    border: #ff8604;
    color: #fff;
}
.btn-alert:hover {
    background-color: #cb6900;
    border: #cb6900;
    color: #fff;
}

.btn-recibo {
    color: #50aee5;
    background: #e6f6ff;
    border-color: #50aee5;
}

.btn-reembolso {
    color: #f9c51b;
    background: #fef9df;
    border-color: #f9c51b;
}


.btn-pagar  {
    color: #049b5e;
    background: #cbffea;
    border-color: #049b5e;
}



.btn-modaldefault {
    color: #515151;
    background: #e6e6e6;
    border-color: #dddddd;
}

.btn-modaldefault:hover {
    color: #515151;
    background: #acacac;
    border-color: #515151;
}

.btn-modalalert {
    color: #ed2024;
    background: #f7f7f7;
    border-color: #ed2024;
}

.registrar-btn {
    border-top: dotted 1px #ccc;
    padding-top: 15px;
    margin-top: 15px;
    text-align: center;
}

.btn-modalregistrar {
    color: #353b7f;
    border-color: #91f4da;
    text-align: center;
    background: #91f4da;
    font-size: 14px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn-modalregistrar:hover {
    color: #fff;
    border-color: #353b7f;
    background: #353b7f;
}

.atualizar-btn {
    border-top: dotted 1px #ccc;
    padding-top: 6px;
    margin-top: 6px;
    text-align: center;
}


.notificationicon i {   
    width:30px;
    text-align:center;
    vertical-align:middle;
    position: relative;
}

.fa-commenting:after{
    font-family: 'Montserrat', sans-serif;
    content:"2";
    position: absolute;
    background: #62efca;
    height:15px;
    width:15px;
    top:10px;
    left:6px;
    text-align: center;
    line-height: 1.3;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    border:1px solid #62efca;
}


/* ----- TELA ADMIN PACIENTE ----- */

#adminpaciente-painel h5 {
    font-size: 16px;
    color: #232973;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

#adminpaciente-painel p {
    color: #333;
}


#adminpaciente-painel i {
    color: #232973;
}

.btn-irconsulta  {
    background-color: #40a9ce;
    border: #1d99c4;
    color: #fff;
}
.btn-irconsulta:hover {
    background-color: #1384ab;
    border: #1d99c4;
    color: #fff;
}

/*Lembrete*/

.adminpaciente-lembrete {
    background: #ececec;
    /*border-radius: 15px;*/
    padding: 20px;
    border: solid 1px #ccc;
    margin-bottom: 20px;
}

.adminpaciente-lembrete .btn {
    width: 100%;
    text-transform: uppercase;
    margin-top: 5px;
}

.aplembrete-lembrete {
    border-right: solid 1px #fff;
    padding-right: 10px;
    margin-right: 10px;
}

.aplembrete-lembrete i {
    padding-top: 10px;
}

.adminpaciente-lembrete .btn.btn-default.btn-irconsulta i{
    color: #fff !important;
}

.adminpaciente-lembrete .btn.btn-default.btn-enviarmensagem i{
    color: #333 !important;
}



/*Consultas*/

.adminpaciente-consultas {
    background: #b7ffec;
    padding: 15px;
    border: solid 1px #61ffd5;
    /*border-radius: 15px;*/
}

.adminpaciente-consultas  i {
    padding-top: 10px;
}

@media (min-width: 768px){
    .adminpaciente-consultas {
        background: #b7ffec;
        padding: 15px;
        border: solid 1px #61ffd5;
        /*border-radius: 15px;*/
        margin-bottom: 20px;
    }

    .adminpaciente-notificacoes {
        background: #e4e6ff;
        padding: 15px;
        border: solid 1px #c0c5ff;
        /*border-radius: 15px;*/
    }

    /*Agende sua consulta*/

    .adminpaciente-agendeconsulta {
        overflow: hidden;
        /*border-radius: 15px;*/
        background: #d3f5ff;
        border: solid 1px #ddd;
        height: 257px;
        margin-bottom: 20px;
    }

    .apagende-content {
        padding-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    .adminpaciente-consultas {
        background: #b7ffec;
        padding: 15px;
        border: solid 1px #61ffd5;
        /*border-radius: 15px;*/
        margin-bottom: 20px;
        text-align: center;
    }

    .adminpaciente-notificacoes {
        background: #e4e6ff;
        padding: 15px;
        border: solid 1px #c0c5ff;
        /*border-radius: 15px;*/
        text-align: center;
    }

    /*Agende sua consulta*/

    .adminpaciente-agendeconsulta {
        overflow: hidden;
        /*border-radius: 15px;*/
        background: #d3f5ff;
        border: solid 1px #ddd;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 20px;
    }

    .ap-agendeimg img {
        width: 100%;
    }

    .apagende-content {
        padding-top: 20px;
        padding-bottom: 40px;
    }

}

.ap-agendeimg {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.adminpaciente-agendeconsulta .btn {
    text-transform: uppercase;
}

.adminpaciente-notificacoes i {
    padding-top: 10px;
}



.apagende-content h5 {
    padding-bottom: 15px;
}

.apagende-content .btn {
    margin-top: 10px;
}


.input-group.horario {
    display:block;
    float:left;
}

.txt-center {
    text-align: center !important;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.timepicker {
    width:100%; 
    border:1px solid #ddd;
    /*border-radius:8px;*/
    top:3px;

}

.timepicker input {
 border:0px !important;
}



.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}


.typing-indicator {
  background-color: #E6E7ED;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 10px;
  display: table;
  margin: 0;
  position: relative;
  -webkit-animation: 2s bulge infinite ease-out;
          animation: 2s bulge infinite ease-out;
}
.typing-indicator::before, .typing-indicator::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #E6E7ED;
}
.typing-indicator::after {
  height: 10px;
  width: 10px;
  left: -10px;
  bottom: -10px;
}
.typing-indicator span {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}  
.list- input[type=checkbox], .consultas input[type=checkbox]{
    width:auto;
    float: left;
    margin:5px 20px 0 0 !important;
}

.visibilidade .control-label {
    padding: 8px 0;
}

.item-inativo {

    background: #f9f9f9;
    opacity: .9;
    color:#666;
}

.pt-top .img-top img {
    width: 100%;
    border-radius: 100%;
    max-width: 130px;
}

.modal-title {
    color: #fff;
}
.admin-content-title a {
    color: #fff
}
small.horario {
    color:#888;
    padding:14px 0;
    width:100%;
    text-align:center;
    display:block;
    height:100%;
}
.horario-notificacao {
    color:#888;
}