.tabcontent-inside input[type="text"],
.tabcontent-inside input[type="password"],
.tabcontent-inside input[type="email"] {
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    border: solid 1px #ccc;
    margin-bottom: 20px;
}

.registro_upload{
    position: absolute;
    left: 0;
    top: 0;
    width: 1500px;
    height: 150px;
    opacity: 0;
    z-index: 2;
}

.form_error{
    color: rgba(199, 8, 8, 0.81);
    margin-top: 0;
    width: 100%;
    clear: both;
    position: relative;
}

#register-user .form_error,
#register-psicologo .form_error{
    top: -20px;
}

.form_prof_error .col-lg-6{
    height: 85px;
}

.input-group{
    overflow: hidden;
}

.profissional-content h3{
    display: block;
    white-space: nowrap;
    /* Fallback for non-webkit */
    overflow: hidden;
    text-overflow: ellipsis;
}

.profissional-content p{
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    /* Fallback for non-webkit */
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-bar-logado{
    margin-bottom: 0;
}

.modal-body input{
    margin-bottom: 0;
}

.erroInputAvatar{
    float: left;
    word-wrap: break-word;
    width: 100%;
    color: #fb4747;
}

.fileinput-remove-button{
    /*float: right;*/
}


@media (min-width: 768px){
    .paciente-photo{
        text-align: center;
    }

    .paciente-photo p{
        color: #5a5c61;
    }
    .paciente-photo img{
        width: 70%;
        border-radius: 100%;
    }
}

@media screen and (max-width: 767px) {
    .paciente-photo{
        text-align: left;
    }

    .paciente-photo p{
        color: #5a5c61;
    }
    .paciente-photo img{
        border-radius: 100%;
    }
}

    

#dynamicImgCrop{
    width: 450px;
}

#avatarPacienteImg,
.adminpaciente-lembrete img.img-responsive{
    border-radius: 100%;
}

.centralizar-h{
    text-align: center;
}

.profissional-image img,
.profissionais-image img,
.foto-profissional img,
.professional-photo img{
    border-radius: 100%;
}

.professional-photo img{
    width: 70%;
}

.file-input-new,
.file-input{
    float: left;
    margin-right: 8px;
    margin-bottom: 0px;
}

#formImagemPaciente .fileinput-remove-button{
    float: left;
    margin-bottom: 8px;
}

.comprovante-especialidade{
    margin-top: 33px;
}

.specialty .with-errors ul{
    margin: 0;
}

.specialty .form-group{
    margin-bottom: 0;
}

/*ALERTA*/

.modal-alert{
    background-color: white;
    border-radius: 6px;
}

.header-alert{
    background-color: #40a9ce;
    padding: 20px;
    border-radius: 6px 6px 0 0;
}

   .header-alert img{
    float: left;
    margin-right: 18px;
}

.txt-alert{
    color: #666666;
    margin: 35px;
    font-size: 15px;
}

    .txt-alert h4{
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 28px;
    }

    .box-alert{
        background-color: #e6ebed;
        color: #f26522;
        text-align: center;
        padding: 20px;
    }

.footer-alert img{
    margin-right: 15px;
}
    .footer-alert button{
        margin-top: 0px;
        margin-right: 28%;
        margin-bottom: 35px;
        margin-left: 28%;
}

.notificationspreview-thumb img{
    width: 70%;
    border-radius: 100%;
}

.notification-image img{
    border-radius: 100%;
}

.pt-top .img-top img{
    width: 100%;
    border-radius: 100%;
}

.profissional .profissional-image img{
    width: 75%;
    border-radius: 100%;
}

.yearcalendar-item{
    height: 230px;
}

.calendario-dia-evento{
    color: #20a2dc;
    cursor: pointer;
}

.small-calendar a.voltar,
.small-calendar a.avancar{
    color: #fff;
}

#modalPerfil .form-group{
    margin-bottom: 5px;
}

.txt-infor{
    overflow: hidden;
}

.txt-aguarde p{
    color: #40a9ce;
}

.profissionais-actions .btn-actions a{
    color: #666;
}

.profissionais-actions .btn-actions:hover a{
    color: #333;
}

.agenda-table #calendar-week{
    display: block;
    margin-bottom: 20px;
    margin-left: 15px;
}

.agenda-table .row,
.agenda-content-main .header-month{
    width: 100%;
    display: block;
    overflow: hidden;
}

.agenda-content-main .data-calendario{
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold;
    margin-left: 20px;
    color: #32b9e3;
}

.btns-header{
    text-align: right;
}
    .btns-header a{
        color: #fff;
    }

    .btns-header a:hover{
        color: #232973;
    }

.agenda-perfil img{
    width: 60%;
    border-radius: 100%;
}

.page-profissionais-agenda-completa{
    padding-top: 50px;
}

    .page-profissionais-agenda-completa .admincontent-wrap{
        margin-top: 0;
    }

.page-profissionais-agenda-completa .weekly-hours {
    margin: 0;
}

.page-profissionais-agenda-completa .ocupado{
    padding-top: 10px;
    background: #042495;
    border-color: #ccc !important;
    color: #fff;
}

.page-profissionais-agenda-completa .indisponivel{
    padding-top: 10px;
    background: #cecece;
    border-color: #999 !important;
    color: #999;
}

#formAgendarConsulta #three{
    display: none;
}

#formAgendarConsulta .erroInputAvatar{
    text-align: center;
    padding: 10px 0;
}

.color-bck{
    background-color: #dadada !important;
    opacity: 0.6;
    color: #b1afaf;
}
.color-bck2{
    background-color: #59decb !important;
    opacity: 0.6;
}

.agendaModalListaOne,
.agendaModalListaTwo,
.agendaModalListaThree{
    display: none;
    width: 100%;
}

.contatos-list img{
    border-radius: 100%;
}

#usuarioMensagemChat .selecionado .bold{
    color: rgb(36, 171, 216);
}

#usuarioMensagemChat .selecionado p{
    color: rgb(131, 206, 230);
}

#mensagens p,
#usuarioMensagemChat .selecionado p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mensagens-chat img{
    border-radius: 100%;
}

.mensagemblock-right ul.mensagens-chat{
    height: 390px;
}

#btnCarregarMensagemAnterior{
    margin: 30px 0;
}

    #btnCarregarMensagemAnterior span{
        text-align: center;
        margin: 0 auto;
        width: 60%;
        display: block;
        padding: 3px 20px;
        background: #ddd;
        border-radius: 15px;
        cursor: pointer;
    }

.pagina-notificacoes{
    padding: 50px 0;
}

.mensagemblock-left{
    overflow-y: scroll;
}

#calendar-week .daily-event{
    cursor: pointer;
    padding: 0;
    border-radius: 0;
    margin: 0;
    color: #fff;
}

    #calendar-week .event-approved span{
        display: block;
        /* Fallback for non-webkit */
        display: -webkit-box;
        /* Fallback for non-webkit */
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.multiplos-botoes button{
    margin: auto;
    width: 50%;
}

.anotacoesblock-left ul.anotacoes-list{
    overflow-y: scroll;
    height: 511px;
}

.anotacoesblock-left ul.anotacoes-list li{
    cursor: pointer;
    padding: 5px 10px;
}

.anotacoes-list li p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anotacoes-list .selecionado{
    background: #d8d8d8;
}

.anotacao-content .nota-header li{
    cursor: pointer;
}

#nota-editar-conteudo{
    width: 100%;
    height: 400px;
    resize: vertical;
}

.tabcontent-inside h3 {
    white-space: nowrap;
    display: inline-block;
}

#javascriptAlert .modal-body a{
    color: #40a9ce;
}

#anotacoes-consulta-visao-dia h3{
    white-space: normal;
}

.popover-content h2{
    color: #777;
}

.daily-event.event-ended{
    background: #696868;
}

.daily-event.event-request{
    background: #ccc;
}

#loginform .checkbox{
    text-align: center;
}

    #loginform .checkbox .btn{
        margin: 0;
    }