<!-- exibir mes a mes do ano -->
<% for( var mes = 0; mes < ano.nome_meses.length; mes++ ){
mesInserido = 0; %>
	<div class="col-lg-3">
	    <div class="yearcalendar-item">
	        <header>                
	            <h4><%= ano.nome_meses[mes] %></h4>
	        </header>
	        <div class="year-calendar">
	            <ul class="dia-mes"> 
	                <ul class="yearview-semana">
	                	<!-- cabeçalho com os dias da semana -->
						<% for( var i = 0; i < ano.letra_dia_semana.length; i++ ){ %>
							<li><%= ano.letra_dia_semana[i] %></li>
						<% } %>
	                </ul>
					
					<!-- dias do mês -->
					<% for( var dia = 0; dia < ano.dias.length; dia++ ){ %>
						<% if( ano.dias[dia].numero_mes == ( mes + 1 ) ){ %>
							<% for( var i = 0; i < ano.dia_semana.length; i++ ){ %>
								<% if( ano.dias[dia].dia_semana == ano.dia_semana[i] ){ mesInserido = 1; %>
									<li>
										<% if( ano.dias[dia].tem_consulta == 1 ){ %>
											<div class="yearview-day calendario-dia-evento"><%= ano.dias[dia].dia_mes %></div>
										<% } else { %>
											<div class="yearview-day" ><%= ano.dias[dia].dia_mes %></div>
										<% } %>
									</li>
								<% } else if( !mesInserido ) { %>
									<li class="othermonth">
										<div class="yearview-day">&nbsp;</div>
									</li>
								<% } %>
							<% } %>
						<% } %>
					<% } %>

	                <div class="clear"></div>
	            </ul>
	        </div>
	    </div> <!-- /.yearcalendar-item -->
	</div> <!-- /.col -->
<% } %>