<ul class="daily-hours">
    <% for( var i = 0; i < consultas.length; i++ ){ %>
        <li>
        	<span class="hour"><%= consultas[i].hora %></span>
	        
	        <% if( consultas[i].compromisso.length > 0 ){ %>
	            <div class="<%= consultas[i].classe %>" onclick="calendario._carregarAnotacoesConsultaDia(this, <%= consultas[i].agendaId %> );"><%= consultas[i].compromisso %></div>
	        <% } %>

        </li>
    <% } %>
</ul>