<!-- dias anteriores ao mês corrente -->
<% for( var i = 0; i < anteriores.length; i++ ){ %>
	<% if( i % 7 == 0 && i > 0 ){ %>
	<li class="othermonth tdborderr">
	<% }else if( i == 0 ){ %>
	<li class="othermonth tdborderl">
	<% }else{ %>
	<li class="othermonth">
	<% } %>
		<div class="daynumber"><%= anteriores[i] %></div>
	</li>
<% } %>

<!-- mês corrente -->
<% for( var d = 0; d < mes.dias.length; d++ ){ %>

	<% classeEvento = ''; %>

	<!-- horários dos eventos, verificar se tem evento -->
	<% 	for( var h = 0; h < horarios.length; h++ ){
			var auxHorario = horarios[h];
			if( mes.dias[d].horarios[auxHorario].compromisso.length > 0 ){
				classeEvento = 'calendario-dia-evento';
			}
	} %>

	<% if( mes.dias[d].dia_semana == mes.dia_semana[ mes.dia_semana.length - 1 ] ){ %>
	<li class="tdborderr">
	<% }else if( mes.dias[d].dia_semana == mes.dia_semana[0] ){ %>
	<li class="tdborderl">
	<% }else{ %>
	<li>
	<% } %>
		<div class="daynumber <%= classeEvento %>" onclick="calendario._carregarDetalheDia(this, '<%= mes.dias[d].dia_mes_completo %>');"><%= mes.dias[d].dia_mes %></div>
	</li>
<% } %>

<!-- dias posteriores ao mês corrente -->
<% for( var i = 0; i < posteriores.length; i++ ){ %>
	<% if( i == ( posteriores.length - 1 ) ){ %>
	<li class="othermonth tdborderr">
	<% }else{ %>
	<li class="othermonth">
	<% } %>
		<div class="daynumber"><%= posteriores[i] %></div>
	</li>
<% } %>