<ul class="weekdays">
    <!-- cabeçalho com os dias da semana -->
	<% for( var i = 0; i < mes.dia_semana.length; i++ ){ %>
		<li><%= mes.dia_semana[i] %></li>
	<% } %>
</ul>

<ul class="days">

	<!-- dias anteriores ao mês corrente -->
	<% for( var i = 0; i < anteriores.length; i++ ){ %>
		<% if( i % 7 == 0 && i > 0 ){ %>
		<li class="othermonth tdborderr consulta-vazia" onclick="javascript:fecharPopup();">
		<% }else{ %>
		<li class="othermonth" onclick="javascript:fecharPopup();" >
		<% } %>
			<div class="daynumber"><%= anteriores[i] %></div>
		</li>
	<% } %>
	
	<!-- mês corrente -->
	<% for( var d = 0; d < mes.dias.length; d++ ){ %>
		<% if( mes.dias[d].dia_semana == mes.dia_semana[ mes.dia_semana.length - 1 ] ){ %>
		<li class="tdborderr consulta-vazia" onclick="javascript:fecharPopup();" >
		<% }else{ %>
		<li>
		<% } %>
			<div class="daynumber"><%= mes.dias[d].dia_mes %></div>

			<!-- horários dos eventos -->
			<% for( var h = 0; h < horarios.length; h++ ){ %>
				<% var auxHorario = horarios[h]; %>
				<!-- caso tenha evento -->
				<% if( mes.dias[d].horarios[auxHorario].compromisso.length > 0 ){ %> 
					<div class="daymonth-event <%= mes.dias[d].horarios[auxHorario].classe %>" data-popover="popover-consulta_<%= h + '-' + d %>_content_mes" onclick="javascript:exibirPopoup('<%= h + '-' + d %>');">
						<a href="javascript:;">
							<%= mes.dias[d].horarios[auxHorario].compromisso %> - <%= mes.dias[d].horarios[auxHorario].hora %>
						</a>
					</div>
						<!-- pop up -->
						<div id="popover-consulta_<%= h + '-' + d %>_content" class="consulta-hidden popover right popover-content">
						    <div class="popover-consult popover-consult-confirmed">
						        <span class="appointment-status status-confirmed">
						        	<% if( mes.dias[d].horarios[auxHorario].classe == 'event-request' ){ %>
						        		Agendamento Solicitado
						        	<% } else if( mes.dias[d].horarios[auxHorario].classe == 'event-approved' ) { %>
						        		Consulta Confirmada
						        	<% } else if( mes.dias[d].horarios[auxHorario].classe == 'event-ended' ) { %>
						        		Consulta Encerrada
						        	<% } else { %>
						        		Pagamento Pendente
						        	<% } %>
						        </span>
						        <h2>Consulta com <%= mes.dias[d].horarios[auxHorario].compromisso %></h2>
						        <div class="appointment-info">
						            <p><%= mes.dias[d].horarios[auxHorario].semana_completa %></p>
						        </div>
						        <div class="appointment-notes">
						            <h5>Anotações</h5>
						            <% if( mes.dias[d].horarios[auxHorario].nota ){ %>
						            	<p><%= mes.dias[d].horarios[auxHorario].nota %></p>
						            <% }else{ %>
						            	<p>Sem anotações</p>
						            <% } %>
						        </div>
						        <div class="appointment-actions">
						            <a class="btn btn-popovercalendar" href="#bloconotas">Ver Prontuário</a>
						        </div>
						    </div>
						</div>
				<% } %>
			<% } %>
		</li>
	<% } %>

	<!-- dias posteriores ao mês corrente -->
	<% for( var i = 0; i < posteriores.length; i++ ){ %>
		<% if( i == ( posteriores.length - 1 ) ){ %>
		<li class="othermonth tdborderr consulta-vazia" onclick="javascript:fecharPopup();">
		<% }else{ %>
		<li class="othermonth consulta-vazia" onclick="javascript:fecharPopup();">
		<% } %>
			<div class="daynumber"><%= posteriores[i] %></div>
		</li>
	<% } %>
    <div class="clear"></div>
</ul>