<ul class="weekly-hours-title">
    <li class="hour"></li>
	
	<!-- cabeçalho com os dias da semana -->
	<% for( var i = 0; i < dias.length; i++ ){ %>
		<li><%= dias[i].dia %></li>
	<% } %>
</ul>
 
<% for( var h = 0; h < qtdHorarios; h++ ){ %> 
	<% if( h + 1 == qtdHorarios ){ %>
		<ul class="weekly-hours weekly-borderb">
	<% }else{ %>
		<ul class="weekly-hours">
	<% } %>
		
		<li class="hour"><%= horarios[h].hora %></li>

			<!-- percorrento os dias, inclusive o primeiro
			para comparar os horários e printar em tela -->

			<% for( var d = 0; d < dias.length; d++ ){ %>
				<li class="daily-event <%= dias[d].horarios[horarios[h].hora].classe %>">

					<% if( dias[d].horarios[horarios[h].hora].compromisso ){ %>
						<!-- pop up -->
						<div id="popover-consulta_<%= h + '-' + d %>_content" class="consulta-hidden popover right popover-content">
						    <div class="popover-consult popover-consult-confirmed">
						        <span class="appointment-status status-confirmed">
						        	<% if( dias[d].horarios[horarios[h].hora].classe == 'event-request' ){ %>
						        		Agendamento Solicitado
						        	<% } else if( dias[d].horarios[horarios[h].hora].classe == 'event-approved' ) { %>
						        		Consulta Confirmada
						        	<% } else if( dias[d].horarios[horarios[h].hora].classe == 'event-ended' ) { %>
						        		Consulta Encerrada
						        	<% } else { %>
						        		Pagamento Pendente
						        	<% } %>
						        </span>
						        <h2>Consulta com <%= dias[d].horarios[horarios[h].hora].compromisso %></h2>
						        <div class="appointment-info">
						            <p><%= dias[d].horarios[horarios[h].hora].semana_completa %></p>
						        </div>
						        <div class="appointment-notes">
						            <h5>Anotações</h5>
						            <% if( dias[d].horarios[horarios[h].hora].nota ){ %>
						            	<p><%= dias[d].horarios[horarios[h].hora].nota %></p>
						            <% }else{ %>
						            	<p>Sem anotações</p>
						            <% } %>
						        </div>
						        <div class="appointment-actions">
						            <a class="btn btn-popovercalendar" href="#bloconotas">Ver Prontuário</a>
						        </div>
						    </div>
						</div>
						<div data-popover="popover-consulta_<%= h + '-' + d %>_content" onclick="javascript:exibirPopoup('<%= h + '-' + d %>');">
					<% }else{ %>
						<div onclick="javascript:fecharPopup();" class="consulta-vazia">
					<% } %>

						<span>
							<%= dias[d].horarios[horarios[h].hora].compromisso %>
						</span>
					</div>
				</li>
			<% } %>

	</ul>
	
	<!-- popup -->
	<% for( var d = 0; d < dias.length; d++ ){ %>
		<!-- pop up -->
		<div id="popover-consulta_<%= h + '-' + d %>_content" class="consulta-hidden popover right">
		    <div class="popover-consult popover-consult-confirmed">
		        <span class="appointment-status status-confirmed">
		        	<% if( dias[d].horarios[horarios[h].hora].classe == 'event-request' ){ %>
		        		Agendamento Solicitado
		        	<% } else if( dias[d].horarios[horarios[h].hora].classe == 'event-approved' ) { %>
		        		Consulta Confirmada
		        	<% } else if( dias[d].horarios[horarios[h].hora].classe == 'event-ended' ) { %>
		        		Consulta Encerrada
		        	<% } else { %>
		        		Pagamento Pendente
		        	<% } %>
		        </span>
		        <h2>Consulta com <%= dias[d].horarios[horarios[h].hora].compromisso %></h2>
		        <div class="appointment-info">
		            <p><%= dias[d].horarios[horarios[h].hora].semana_completa %></p>
		        </div>
		        <div class="appointment-notes">
		            <h5>Anotações</h5>
		            <% if( dias[d].horarios[horarios[h].hora].nota ){ %>
		            	<p><%= dias[d].horarios[horarios[h].hora].nota %></p>
		            <% }else{ %>
		            	<p>Sem anotações</p>
		            <% } %>
		        </div>
		        <div class="appointment-actions">
		            <div class="btn btn-popovercalendar">Ver Prontuário</div>
		        </div>
		    </div>
		</div>
	<% } %>
<% } %>