<% for( var i = 0; i < contatos.length; i++ ){ %>
    <% if( i == 0 ){ %>
    	<li class="selecionado" data-usuario-id="<%= contatos[i].usuario_id %>">
    <% }else{ %>
    	<li data-usuario-id="<%= contatos[i].usuario_id %>">
    <% } %>
        <div class="row">
            <div class="col-lg-4">
                <img src="<%= contatos[i].avatar %>" alt="<%= contatos[i].nome %>" class="img-responsive">
            </div>
            <div class="col-lg-8 no-padding-left"><span class="bold"><%= contatos[i].nome %></span><br><p><%= contatos[i].ultima_mensagem %></p></div>
        </div>
    </li>
<% } %>