<li class="chat-right">
    <div class="row">
        <div class="col-lg-10 no-padding-right">
            <span class="bold"><%= mensagem.de_nome %></span>
            <span class="mensagem-time"><%= moment(mensagem.data_mensagem).format("HH:mm DD/MM/YYYY") %></span>
            
            <div class="mensagem-text-right mensagem-tip">
                <div class="mensagem-text-inside"><%= mensagem.mensagem %></div>
            </div>
        </div>
        
        <div class="col-lg-2">
            <img src="<%= mensagem.de_avatar %>" alt="<%= mensagem.de_nome %>" class="img-responsive">
        </div>
    </div>
</li>