@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ----- Criaturo CSS ----- */


body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background: #9eedda url(../images/admin-bg.jpg) no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a, p {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #232973;
    -webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s;
    outline: none !important;
}

a:hover {
    color: #36b98d;
    text-decoration: none;
}

a:active {
    outline: none !important;
}

.clear {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
}