<% if( nota.id > 0 ){ %>

    <p class="details-hourdate">
        <h3>Consulta com <%= nota.nome %></h3>
        
        <span class="data"><%= nota.data %></span>
        <br>
        <span class="hora"><%= nota.hora %></span>
    </p>
    <div class="daily-notes">
        <h5>Anotações

            <% if( nota.pode_editar ){ %>
                <button class="btn btn-editar" onclick="calendario.editarNotaSmall(this, <%= nota.id %>);">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                </button>
            <% } %>
        </h5>
        
        <p class="texto">
            <%= nota.conteudo %>
        </p>
    </div>
    <div class="daily-actionbuttons">

        <% if(Date.parse(nota.data_anotacao) > new Date() && nota.profissoinalId != nota.usuario_id){ %>
            <button class="btn btn-actions btn-alert" onclick="calendario.cancelarConsulta(this, <%= nota.id %>, '<%= nota.profissional %>', '<%= nota.url_cancelar %>');" ><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
        <% } %> 
        <% if( nota.pode_reagendar ){ %>
            <button class="btn btn-actions btn-decline" onclick="calendario.reagendarConsulta(this, <%= nota.id %>, <%= nota.profissionalId %>, '<%= nota.url_reagendar %>');"><i class="fa fa-calendar" aria-hidden="true"></i> Reagendar</button>
        <% } %>
    </div>

<% }else{ %>

    <h3 class="nome-profissional">&nbsp;</h3>
    <p class="details-hourdate">
        <span class="data">&nbsp;</span>
        <br>
        <span class="hora">&nbsp;</span>
    </p>
    <div class="daily-notes">
        <h5>Anotações 
            <button class="btn btn-editar" style="display: none;">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
            </button>
        </h5>
        
        <p class="texto">
            <span style="text-align: center; font-style: italic;">Sem anotações até o momento.</span>
        </p>
    </div>
    <div class="daily-actionbuttons">
 
    </div>

<% } %>
